<% if !question.minister_id.nil? %>
  Replying minister:
  <div class="row">
    <div class="col-md-6">
      <%= link_to question.minister.name, minister_path(question.minister) unless question.minister_id.nil? %>
    </div>
    <div class="col-md-6">
      <%= mail_to question.minister.email, raw("<i class='glyphicon glyphicon-envelope'></i> Email") unless question.minister_id.nil? %>
    </div>
  </div>
<% end %>
<br />

<% if !question.policy_minister_id.nil? %>
  Policy minister:
  <div class="row">
    <div class="col-md-6">
      <%= link_to question.policy_minister.name, minister_path(question.policy_minister) %>
    </div>
    <div class="col-md-6">
      <% if question.policy_minister.email.blank? %>
          No contacts set
      <% else %>
        <%= mail_to question.policy_minister.email, raw("<i class='glyphicon glyphicon-envelope'></i> Email") %>
      <% end %>
    </div>
  </div>
<% end %>
<br />

Action Officer(s):
<div class="row">
  <% if question.ao_pq_accepted.nil? %>
    <% question.action_officers_pq.each do |ao_pq| %>
      <% if !ao_pq.reject && !ao_pq.action_officer.nil? %>
        <div class="col-md-6">
          <%= link_to ao_pq.action_officer.name, action_officer_path(ao_pq.action_officer) %>
        </div>
        <div class="col-md-6">
          <%= render partial: 'shared/ao_reminder_link', locals: {ao_pq: ao_pq, question: question} %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="col-md-6">
      <%= link_to question.action_officer_accepted.name, action_officer_path(question.action_officer_accepted) %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'shared/ao_reminder_link', locals: {ao_pq: question.ao_pq_accepted, question: question} %>
    </div>
  <% end %>
</div>