<% if !question.minister_id.nil? %>
  <p>
    Replying minister:<br />
    <%= mail_to question.minister.email, question.minister.name unless question.minister_id.nil? %>
  </p>
<% end %>

<% if !question.policy_minister_id.nil? %>
  <p>
    Policy minister:<br />
    <%= mail_to question.policy_minister.email, question.policy_minister.name %>
  </p>
<% end %>

<p>Action Officer(s):</p>
<div class="row">
  <% question.action_officers_pq.each do |ao_pq| %>
    <% if !ao_pq.reject && !ao_pq.action_officer.nil? %>
      <div class="col-md-6">
        <%= mail_to ao_pq.action_officer.email, ao_pq.action_officer.name %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'shared/ao_reminder_link', locals: {ao_pq: ao_pq, question: question} %>
      </div>
    <% end %>
  <% end %>
</div>

<p id="comm-data-<%= question.id %>">
    <span class="label flag-pq-accepted">Accepted</span> 
    <%= question.action_officers_pq.first.created_at.strftime("%I:%M%p") %> | <%= question.action_officers_pq.first.created_at.strftime("%m/%d/%Y") %>
</p>