<% if !question.minister_id.nil? %>
  Replying minister:
  <div class="row">
    <div class="col-md-6">
      <%= question.minister.name unless question.minister_id.nil? %>
    </div>
    <div class="col-md-6">
      <%= mail_to question.minister.email, raw("<i class='glyphicon glyphicon-envelope'></i> Email") unless question.minister_id.nil? %>
    </div>
  </div>
<% end %>
<br />
<% if !question.policy_minister_id.nil? %>
  Policy minister:
  <div class="row">
    <div class="col-md-6">
      <%= question.policy_minister.name %>
    </div>
    <div class="col-md-6">
      <%= mail_to question.policy_minister.email, raw("<i class='glyphicon glyphicon-envelope'></i> Email")  %>
    </div>
  </div>
<% end %>

<p>Action Officer(s):</p>
<div class="row">
  <% question.action_officers_pq.each do |ao_pq| %>
    <% if !ao_pq.reject && !ao_pq.action_officer.nil? %>
      <div class="col-md-6">
        <%= mail_to ao_pq.action_officer.email, ao_pq.action_officer.name %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'shared/ao_reminder_link', locals: {ao_pq: ao_pq, question: question} %>
      </div>
    <% end %>
  <% end %>
</div>