<% if !question.house_name.nil?  %>
  <p>
    <%= question.house_name %>:<br />
    <%= question.member_name %>
  </p>
<% end %>

<% if !question.date_for_answer.nil?  %>
  <p>
    Date For Answer:<br />
    <%= question.date_for_answer.strftime('%d/%m/%Y') %>
  </p>
<% end %>


<% if @dashboard_state == 'New'%>
    <%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "internal-deadline-form#{question.id}", :class => 'internal-deadline-form', :data => {:pqid => "#{question.id}"}}, :url => {:controller => 'pqs', :action => "set_internal_deadline", :id => question.uin} do |f| %>
      <label for='datetimepicker-<%= question.id %>'>Internal deadline:</label>
      <div id='datetimepicker-<%= question.id %>' class='input-group date internal-dtp' data-date-format="DD/MM/YYYY HH:mm">
        <input id="pq_internal_deadline-<%= question.id %>" class="form-control internal-deadline" name="pq[internal_deadline]" type="text" value="<%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>">
        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
      </div>
      <%= f.submit 'Update', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-set-deadline-#{question.id}" %>
    <% end %>
<% else %>
    <% if !question.internal_deadline.nil?  %>
        <p>Internal deadline: <%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') %></p>
    <% end %>
<% end %>

<!-- round robin placeholder -->
<div id='trim_area_<%= question.id %>'>
  <%= render partial: 'shared/trim_links', locals: {question: question} %>
</div>