<div class="pq-columns row">
    <%= form_for CommissionForm.new,
                 :remote => true,
                 :authenticity_token => true,
                 :html => {:id => "form-commission#{question.id}", :class => 'form-commission', :data => {:pqid => "#{question.id}"}},
                 :url => commission_path do |f| %>
        <!-- start of 'sub column 1'-->
        <div class="col-md-7">
            <div class="dashboard-column1-uncommissioned">
                <% disabled = !question.seen_by_finance %>

                <fieldset>
                    <%= render partial: 'shared/minister_selection', locals: {question: @pq, form: f} %>

                    <div id="comm-form-container-<%= question.id %>" class="allocation-info form-group">
                        <label class="form-label">Assign action officer(s)</label>
                        <%= collection_select(:commission_form, :action_officer_id, ActionOfficer.where(deleted: false).all, :id, :name_with_div, {}, {:multiple => true, :class => 'multi-select-action-officers form-control required-for-commission', :id => "action_officers_pq_action_officer_id-#{question.id}", :disabled => disabled}) %>
                    </div>

                    <div class="form-group">
                        <%= f.hidden_field(:pq_id , :value => question.id) %><br />
                        <%= f.submit 'Commission', :class => 'button commission-button', :disabled => disabled, data: {disable_with: 'Commissioning...'} %>
                    </div>
                </fieldset>
            </div>
        </div>
        <!-- end of column 1-->

        <!--start of sub column 2 -->
        <div class="col-md-5">
            <div class="dashboard-column-2">
                <% if !question.house_name.nil? %>
                    <h4><%= question.house_name %></h4>

                    <p class="text"><%= question.member_name %></p>
                <% end %>

                <fieldset>
                    <div class="form-group">
                        <label for='datetimepicker-<%= question.id %>'><h4>Date for answer</h4></label>

                        <div id='datetimepicker-<%= question.id %>' class='input-group date-for-answer-picker date internal-dtp' data-date-format="DD/MM/YYYY">
                            <input id="pq_date_for_answer-<%= question.id %>" class="form-control date-for-answer required-for-commission" name="commission_form[date_for_answer]" type="text" value="<%= question.date_for_answer.strftime('%d/%m/%Y') unless question.date_for_answer.nil? %>">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <%= render partial: 'shared/answer_time', locals: {date_for_answer: question.date_for_answer, progress_val: question.progress} %>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pq_internal_deadline-<%= question.id %>"><h4>Internal deadline</h4></label>

                        <div id='datetimepicker-int-<%= question.id %>' class='input-group internal-deadline-picker date internal-dtp' data-date-format="DD/MM/YYYY HH:mm">
                            <input id="pq_internal_deadline-<%= question.id %>" class="form-control internal-deadline required-for-commission" name="commission_form[internal_deadline]" type="text" value="<%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <%= render partial: 'shared/deadline_time', locals: {internal_deadline: question.internal_deadline, progress_val: question.progress, draft_reply: question.draft_answer_received} %>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    <% end %>

    <div class="col-md-5">
        <div class="dashboard-column-2">
            <div id='trim_area_<%= question.id %>' class="trim_area trim_area_dashboard">
                <h4>Trim link</h4>
                <%= render partial: 'shared/trim_links', locals: {question: question} %>
            </div>
        </div>
    </div>
</div>
