<div class="row">
  <div class="pq-header col-md-12">
    <h3><%= question.uin %></h3>
    <% if question.question_type == 'NamedDay' %>
      <span class="label name-day" title="Named day">N</span>
    <% end %>
    <% if question.transferred  %>
      <span class="label flag-transferred-in" title="Transferred">T</span>
    <% end %>
    <% if question.i_will_write %>
      <span class="label flag-will-write" title="I will write">IWW</span>
    <% end %>
    <%= link_to('PQ Details', { controller: 'pqs', action: 'show', id: question.uin}, class: 'right' ) %>
  </div>
</div>

<div class="row">
  <div class="pq-question col-md-12">
    <%= question.question %>
  </div>
</div>

<div class="row">
  <div class="status-bar col-md-12">
    <% if !question.seen_by_finance  %>
        <span class="label flag-finance-unchecked">Not checked by finance</span>
    <% end %>
    <span class="label flag-<%= question.progress.classname %>"><%= question.progress.name %></span>
  </div>
</div>

<% if [Progress.UNASSIGNED,Progress.NO_RESPONSE,Progress.REJECTED].include?(question.progress.name) %>
  <!-- if a question is unassigned, No response or rejected: loop through and show rejection reasons -->
  <%= render partial:'shared/rejected_reasons', locals: {question: question} %>
<% end %>

<div id="pq-columns" class="row">
  <!-- start of 'sub column 1'-->
  <div class="col-md-6">
    <% if question.action_officers_pq.size > 0 && question.action_officers_pq.rejected.size!=question.action_officers_pq.size %>
        <%= render partial: 'dashboard/pq_dashboard_column1_commissioned', locals: {question: question} %>
    <% else %>
        <%= render partial: 'dashboard/pq_dashboard_column1_uncommissioned', locals: {question: question} %>
    <% end %>
  </div>
  <!-- end of column 1-->

  <!--start of sub column 2 -->
  <div class="col-md-6">
    <%= render partial: 'dashboard/pq_dashboard_column2', locals: {question: question} %>
  </div>
</div>