<%= render partial: 'tabs' %>
<%= render partial: 'in_progress_filter' %>
<%= render partial: 'shared/flash_messages', flash: flash %>
<%= render partial: 'shared/questions_list', locals: {questions: @questions} %>

<div id='pages'>
    <%= will_paginate @questions %>
</div>

