<div id="admin-directorates-form">
    <%= form_for(@directorate) do |f| %>
        <% if @directorate.errors.any? %>
            <div class="alert notice">
                <%= pluralize(@directorate.errors.count, "error") %> prohibited this directorate from being saved:<br />
                <% @directorate.errors.full_messages.each do |msg| %>
                    <%= msg %><br />
                <% end %>
            </div>
        <% end %>
        <fieldset>
            <div class="form-group">
                <label for="directorate_name" class="form-label">Name</label>
                <%= f.text_field :name, {class: 'form-control'} %>
            </div>
            <div class="form-group">
                <p class="text">Status</p>
                <label for="directorate_deleted" class="block-label">
                    <%= f.check_box :deleted %>Inactive
                </label>
            </div>
            <div class="form-group">
                <%= f.submit 'Save', :id => 'save', :class => 'button' %>
            </div>
        </fieldset>
    <% end %>
</div>
