<%= render partial: "shared/flash_messages", flash: flash %>
<h2>Action officers</h2>
<div id="admin-ao-list">
  <div class="row>">
    <div class="col-md-2.5 pull-right">
      <%= link_to ('Add action officer'), new_action_officer_path, {class: 'button-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Division</th>
        <th>Press desk</th>
        <th class="admin-status">Status</th>
        <th></th>
      </tr>
    </thead>
    <% @action_officers.each do |action_officer| %>
      <tbody>
        <tr>
          <td><%= link_to "#{action_officer.name}", action_officer_path(action_officer) %></td>
          <td><%= action_officer.deputy_director.division.name unless action_officer.deputy_director.nil? %></td>
          <td><%= action_officer.press_desk.name unless action_officer.press_desk.nil? %></td>
          <td>
            <% if action_officer.deleted %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% else %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_action_officer_path(action_officer) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
