<h2>Action officer details</h2>
<div id="admin-ao-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
    <p class="text"><%= @action_officer.name %></p>
	<h4>Email</h4>
    <p class="text"><%= @action_officer.email %></p>
	<h4>Group email</h4>
    <p class="text"><%= @action_officer.group_email %></p>
	<h4>Phone</h4>
    <p class="text"><%= @action_officer.phone %></p>
	<h4>Deputy director</h4>
    <p class="text"><%= @action_officer.deputy_director.name %></p>
	<h4>Division</h4>
    <p class="text"><%= @action_officer.deputy_director.division.name %></p>
	<h4>Press desk</h4>
    <p class="text"><%= @action_officer.press_desk.name %></p>
	<h4>Status</h4>
	<% if @action_officer.deleted %>
      <p class="text"><i class="fa fa-times"></i>&nbsp;Inactive</p>
	<% else %>
      <p class="text"><i class="fa fa-check-circle"></i>&nbsp;Active</p>
	<% end %>
	<%= link_to 'Edit', edit_action_officer_path(@action_officer), {class: 'admin-link'} %>
	<%= link_to 'Return to action officer list', action_officers_path, {class: 'admin-link'} %>
</div>
