<h2>Action Officer details</h2>
<div id="admin-ao-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
	<%= @action_officer.name_with_div %>
	<h4>Email</h4>
	<%= @action_officer.email %>
	<h4>Group email</h4>
	<%= @action_officer.group_email %>
	<h4>Phone</h4>
	<%= @action_officer.phone %>
	<h4>Deputy director</h4>
	<%= @action_officer.deputy_director.name %>
	<h4>Division</h4>
	<%= @action_officer.deputy_director.division.name %>
	<h4>Press desk</h4>
	<%= @action_officer.press_desk.name %>
	<h4>Status</h4>
	<% if @action_officer.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
		<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
	<%= link_to 'Edit', edit_action_officer_path(@action_officer), {class: 'admin-link'} %>
	<%= link_to 'Return to Action Officer list', action_officers_path, {class: 'admin-link'} %>
</div>
