<%= form_for @minister_contact do |f| %>
    <% if @minister_contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@minister_contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
            <% @minister_contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Contact Description' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <%= f.check_box :deleted  %> Inactive
        </label>
      </div>
    </div>
    <div class="actions">
      <%= f.hidden_field :minister_id %>
      <%= f.submit %>
    </div>
<% end %>
