<div id="admin-minister-contact-form">
  <%= form_for @minister_contact do |f| %>
    <% if @minister_contact.errors.any? %>
      <div class="info-notice">
        <h3><%= pluralize(@minister_contact.errors.count, "error") %> prohibited this contact from being saved:</h3>
        <ul>
          <% @minister_contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <label for="minister_contact_name" class="form-label">Contact description</label>
      <%= f.text_field :name, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <label for="minister_contact_email" class="form-label">Email</label>
      <%= f.text_field :email, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <label for="minister_contact_phone" class="form-label">Phone</label>
      <%= f.text_field :phone, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <label for="minister_contact_deleted" class="block-label">
        <%= f.check_box :deleted %>Inactive
      </label>
    </div>
    <div class="form-group">
      <%= f.hidden_field :minister_id %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
