<%= form_for(@progress) do |f| %>
    <% if @progress.errors.any? %>
        <div id="alert notice">
            <%= pluralize(@progress.errors.count, "error") %> prohibited this progress from being saved:<br />
            <% @progress.errors.full_messages.each do |msg| %>
                <%= msg %><br />
            <% end %>
        </div>
    <% end %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :progress_order %><br>
        <%= f.number_field :progress_order %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
