<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2>You have accepted responsibility for drafting an answer to <%= @template_params[:uin] %></h2>

<div style="padding-left:0.5em;margin-left:10px;border-left:2px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;font-size: 110%;">
  <%= @template_params[:question] %>
</div>

<div>

  <% if !@template_params[:member_name].nil? %>
      <p>Question asked by  <%= @template_params[:member_name] %> <% if !@template_params[:house_name].nil? %> <%= @template_params[:house_name] %> <% end %> </p>
  <% end %>
  <% if !@template_params[:mpname].nil? %>
    <p>To be answered by: <%= @template_params[:mpname] %></p>

  <% end %>
  <% if !@template_params[:internal_deadline].nil? %>
    <p>Deadline to return your draft response <%= @template_params[:internal_deadline] %></p>
  <% end %>

  <p>Clicking on the link below will generate an email that copies in all the appropriate people. You <b><u>MUST</u></b> use this link to send your draft response.</p>

</div>


<p>
  <%= mail_to 'pqs@justice.gsi.gov.uk', 'Send a draft response', cc: @template_params[:cc_list], subject: "[Parliament-Questions] Draft for question #{@template_params[:uin]}" %>
</p>

<p>You will need to liaise with your relevant press officer before you send your draft response.</p>

<p>For drafting templates and guidance on how to respond, please refer to the intranet by clicking the following link.</p>
<p><a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-parliament/parliamentary-questions">PQ Guidance</a></p>


<p>If you have further queries about drafting your response, please <a href="mailto:pqs@justice.gsi.gov.uk">Contact the PQ Team</a></p>


<%= render 'shared/mailer/email_signature' %>


</body>
</html>