<h2>Deputy director details</h2>
<div id="admin-deputy-details">
	<p id="notice"><%= notice %>
	<h4>Name</h4>
	<%= @deputy_director.name %>
	<h4>Email</h4>
	<%= @deputy_director.email %>
	<h4>Division</h4>
	<%= @deputy_director.division.name %>
	<h4>Status</h4>
	<% if @deputy_director.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
  	<% else %>
      <i class="fa fa-check-circle"></i>&nbsp;Active
  	<% end %>
	<%= link_to 'Edit', edit_deputy_director_path(@deputy_director), {class: 'admin-link'} %>
	<%= link_to 'Return to deputy director list', deputy_directors_path, {class: 'admin-link'} %>
</div>
