<h2>Edit user: <%= @user.name %></h2>
<div id="admin-user-form">
  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label(:name, "Name:") %>
      <%= f.text_field :name, {class: 'form-control'} %>
      <%= f.label(:name, "Email:") %>
      <%= f.text_field :email, {class: 'form-control'} %>
      <%= f.label(:roles, "Role:") %>
      <%= f.select(:roles, [ User.ROLE_PQ_USER, User.ROLE_FINANCE ]) %>
      <p>
        Status:
        <label><%= f.check_box :is_active  %>&nbsp;Active</label>
      </p>
      <%= f.submit 'Save', {class: 'btn btn-primary'} %>
    </div>
  <% end %>
</div>
<%= link_to 'Return to user list', users_path, {class: 'admin-link'} %>