<%= render partial: "shared/flash_messages", flash: flash %>
<h2>Users</h2>
<div id="admin-ao-list">
  <div class="row>">
    <div class="col-md-2.5 pull-right">
      <%= link_to 'Invite new user', new_user_invitation_path, {class: 'button-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th class="admin-status">Last active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.name}", user_path(user) %></td>
          <td><%= link_to "#{user.roles}", user_path(user) %></td>
<!--          <td>
            <% if user.is_active %>
              <i class="fa fa-check-circle"></i>&nbsp;Active
            <% else %>
              <i class="fa fa-times"></i>&nbsp;Inactive
            <% end %>
          </td>-->
          <td>
            <% if user.last_sign_in_at.nil? %>
                Never Active
            <% else %>
                <%= time_ago_in_words(user.last_sign_in_at) unless user.last_sign_in_at.nil? %>
            <% end %>

          </td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination-row.bottom">
    <div class="page-entries"><%= will_paginate @users %></div>
  </div>
</div>