


<div class="row">
  <div class="col-md-8"><%= link_to 'Invite New User', new_user_invitation_path, {class: 'button'} %></div>
</div>

<div class="row">
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Active</th>
        <th>Invited by</th>
        <th>Last active</th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= link_to "#{user.name}", user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.roles %></td>
          <td>
            <% if user.is_active %>
                <i class="fa fa-check-circle text-success"></i>
            <% else %>
                <i class="fa fa-times text-danger"></i>
            <% end %>
          </td>
          <td><%= user.invited_by_user %></td>
          <td><%= time_ago_in_words(user.last_sign_in_at) unless user.last_sign_in_at.nil? %></td>
          <td><%= link_to 'Edit', edit_user_path(user), {class: 'button'} %></td>
        </tr>
      <% end %>


    </table>



    <div class="pagination-row.bottom">
      <div class="page-entries">
        <%= will_paginate @users %>
      </div>
    </div>

</div>