<h2>User Details</h2>
<div id="admin-user-details">
	<h4>Name</h4>
	<%= @user.name %></p>
	<h4>Email</h4>
	<%= @user.email %></p>
	<h4>Role</h4>
	<%= @user.roles %></p>
	<h4>Last active</h4>
	<%= time_ago_in_words(@user.last_sign_in_at) unless @user.last_sign_in_at.nil? %></p>
	<h4>Invited by</h4>
	<%= @user.invited_by_user %>
	<%= link_to 'Edit', edit_user_path(@user), {class: 'admin-link'} %>
	<%= link_to 'Return to Users', users_path, {class: 'admin-link'} %>
</div>