<h2>Forgot your password?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
  	<div class="form-group">
  		<label for="user_email" class="form-label">Email</label>
  		<%= f.email_field :email, class: 'form-control', autofocus: true %>
  	</div>
  	<div class="form-group">
		  <%= f.submit "Send me reset password instructions", :class => 'button' %>
    </div>
    <%= render "devise/shared/links" %>
  </fieldset>
<% end %>

