<%= render partial: 'shared/flash_messages' %>
<div class="row">
  <h3><%= @ao.name %>, you have been allocated the Parliamentary Question <%= @question.uin %></h3>
</div>

<div class="row">
  <blockquote class="pq-question col-md-12">
    <%= @question.question %>
  </blockquote>
</div>
<div class="row">
<div>Asked by: <%= @question.member_name %> <%= @question.house_name %></div>
</div>
<div class="row">
  <div>To be answered on behalf of: <%= @question.minister.name %></div>
</div>
<div class="row">
  <div>Deadline to accept or reject this allocation: 2pm today</div>
</div>

<% if @question.action_officers_pq.size > 1 %>
<div class="row">
    <div class="question-allocation">
      <p>This question has also been allocated to the following Action Officers, but only one may accept responsibility for answering:</p>

      <ul class="question-allocation-list" data-pqid="<%= @question.id %>">
        <% @question.action_officers_pq.each do |ao_pq|   %>
            <% if !ao_pq.action_officer.nil? && ao_pq.action_officer_id!=@ao.id %>
            <li>
              <%= ao_pq.action_officer.name  %>
              (<%= ao_pq.action_officer.deputy_director.division.name %>)
              <% if ao_pq.accept %>
                  <span class="label flag-pq-accepted">Accepted</span>
              <% elsif ao_pq.reject %>
                  <span class="label flag-pq-rejected">Rejected</span>
                  <a data-toggle="collapse" data-target="#rejection-<%= ao_pq.id %>-<%= ao_pq.action_officer.id %>" class="btn btn-default btn-xs">
                    Display Reason <span class="caret"></span>
                  </a>
                  <div id="rejection-<%= ao_pq.id %>-<%= ao_pq.action_officer.id %>" class="collapse">
                    <p><strong><%= ao_pq.reason_option %></strong></p>
                    <p><%= ao_pq.reason %></p>
                  </div>
              <% else %>
                  <span class="label flag-no-response">No response</span>
              <% end %>
              <% end %>
        <% end %>
        </li>
      </ul>
    </div>
</div>
<% end %>

<% if !@question.is_in_progress?(Progress.accepted) %>


<div class="accept-reject-form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Will you take responsibility for drafting an answer to this question?</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= form_for @response, :url => {:controller => 'assignment', :action => 'action', :uin => params[:uin]} do |f| %>
                <%= hidden_field_tag 'token', params[:token] %>
                <%= hidden_field_tag 'entity', params[:entity] %>

                <div class="form-group">
                  <div class="radio">
                    <label>
                      <%= f.radio_button :response_action, 'accept' %>
                      Accept
                    </label>
                  </div>
                  <div class="radio">
                     <label>
                      <%= f.radio_button :response_action, 'reject'%>
                      Reject
                    </label>
                  </div>

                </div>

                <div class="<%= 'hide' unless @response.errors.any?%>" id="reason-textarea">
                  <% if !@response.errors[:reason_option].empty? %>
                      <div class="alert  alert-danger">
                        Please select one of the reasons to reject the question
                      </div>
                  <% end %>

                  <div class="form-group">
                    <select class="form-control" name="allocation_response[reason_option]">
                      <option selected="selected" disabled="disabled">Select the reason to reject the question</option>
                      <option>Is for other department in the MoJ</option>
                      <option>Is for other Government department</option>
                     </select>
                  </div>
                  <% if !@response.errors[:reason].empty? %>
                      <div class="alert  alert-danger">
                        Please select give us information about why you reject the question
                      </div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :reason, 'Please explain why you reject the question, or if you are not the right person or department, please tell us who we should contact' %>
                    <%= f.text_area  :reason,  class: 'form-control'%>
                  </div>
                </div>

                <div class="form-group">
                  <%= submit_tag 'Save Response' , class: 'button'%>
                </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>
</div>


<% else %>
    <div class="row">
      <div class="col-md-6">
        <h4>The question is accepted and a email has been sent with the instructions to send a draft answer, please contact Parliamentary branch if you have any questions</h4>
      </div>
    </div>
<% end %>




