<%= render partial: 'shared/flash_messages' %>
<div class="row">
  <h3><%= @ao.name %>,</h3>
  <p>You have been allocated the PQ <strong><%= @question.uin %></strong></p>
</div>

<div class="row row-spacer">
  <blockquote class="pq-question col-md-12">
    <%= @question.question %>
  </blockquote>
</div>
<div class="row">
<div>Question asked by <%= @question.member_name %> <%= @question.house_name %>.</div>
</div>
<div class="row">
  <div>To be answered on behalf of <%= @question.minister.name %>.</div>
</div>
<div class="row row-spacer">
  <p class="strong">The deadline to accept or reject this allocation is 2pm today</p>
</div>

<% if @question.action_officers_pq.size > 1 %>
<div class="row">
    <div class="question-allocation">
      <p>This question has also been allocated to the following action officers, but only one person may accept responsibility.</p>

      <ul class="question-allocation-list" data-pqid="<%= @question.id %>">
        <% @question.action_officers_pq.each do |ao_pq|   %>
            <% if !ao_pq.action_officer.nil? && ao_pq.action_officer_id!=@ao.id %>
            <li>
              <details class="details-reveal">
                <summary aria-controls="rejection-<%= ao_pq.id %>-<%= ao_pq.action_officer.id %>">
                  <span class="link closed"><%= ao_pq.action_officer.name  %>
                  (<%= ao_pq.action_officer.deputy_director.division.name %>)
                  </span>
                  <% if ao_pq.accept %>
                    <span class="label flag-accepted">Accepted</span>
                  <% elsif ao_pq.reject %>
                    <span class="label flag-rejected">Rejected</span>
                </summary>
                <div id="rejection-<%= ao_pq.id %>-<%= ao_pq.action_officer.id %>" class="panel-indent reveal closed">
                  <p class="strong"><%= ao_pq.reason_option %></p>
                  <p><%= ao_pq.reason %></p>
                </div>
              </details>
              <% else %>
                  <span class="label flag-no-response">No response</span>
              <% end %>
              <% end %>
            <% end %>
            </li>
      </ul>
    </div>
</div>
<% end %>

<% if !@question.is_in_progress?(Progress.accepted) %>
<p>If you have any queries please <a href="mailto:<%= Settings.mail_reply_to %>">contact the PQ Team</a></p>
<div class="accept-reject-form">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Will you take responsibility for drafting an answer to this question?</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <%= form_for @response, :url => {:controller => 'assignment', :action => 'action', :uin => params[:uin]} do |f| %>
                <%= hidden_field_tag 'token', params[:token] %>
                <%= hidden_field_tag 'entity', params[:entity] %>

                <div class="form-group inline">

                    <label class="block-label">
                      <%= f.radio_button :response_action, 'accept' %>
                      Accept
                    </label>

                     <label class="block-label">
                      <%= f.radio_button :response_action, 'reject'%>
                      Reject
                    </label>

                </div>

                <div class="<%= 'hide' unless @response.errors.any?%>" id="reason-textarea">
                  <% if !@response.errors[:reason_option].empty? %>
                      <div class="alert  alert-danger">
                        Please select one of the reasons to reject the question
                      </div>
                  <% end %>

                  <div class="form-group">
                    <select class="form-control" name="allocation_response[reason_option]">
                      <option selected="selected" disabled="disabled">Select your reasons for rejecting the question</option>
                      <option>I think it is for another person in my department</option>
                      <option>I think it is for another department in the MoJ</option>
                      <option>I think it is for another government department</option>
                     </select>
                  </div>
                  <% if !@response.errors[:reason].empty? %>
                      <div class="alert  alert-danger">
                        Please select give us information about why you reject the question
                      </div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :reason, 'Please explain why you reject the question, or if you are not the right person or department, please tell us who we should contact' %>
                    <%= f.text_area  :reason,  class: 'form-control', rows: '10' %>
                  </div>
                </div>

                <div class="form-group">
                  <%= submit_tag 'Save Response' , class: 'button'%>
                </div>

            <% end %>
          </div>
        </div>

      </div>
    </div>
</div>


<% else %>
    <div class="row">
      <div class="col-md-10">
        <h4>The question has been accepted and an email has been sent to the accepting officer with drafting instructions, please contact Parliamentary branch if you have any questions</h4>
      </div>
    </div>
<% end %>
