<h2>Division details</h2>
<hr />
<p id="notice"><%= notice %></p>
<p><strong>Name:</strong>&nbsp;<%= @division.name %></p>
<p><strong>Directorate:</strong>&nbsp;<%= @division.directorate.name %></p>
<p>
	<% if @division.deleted %>
    	<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
    	<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
</p>
<!-- 
<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
 -->
