<h2>Division details</h2>
<div id="admin-division-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
    <p class="text"><%= @division.name %></p>
	<h4>Directorate</h4>
    <p class="text"><%= @division.directorate.name %></p>
	<h4>Status</h4>
	<% if @division.deleted %>
      <p class="text"><i class="fa fa-times"></i>&nbsp;Inactive</p>
	<% else %>
      <p class="text"><i class="fa fa-check-circle"></i>&nbsp;Active</p>
	<% end %>
	<%= link_to 'Edit', edit_division_path(@division), {class: 'admin-link'} %>
	<%= link_to 'Return to divisions list', divisions_path, {class: 'admin-link'} %>
</div>