<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div style="font-family: arial, sans-serif; font-size: 12pt;"><%= @template_params[:ao_name] %>,</div>
<p style="font-family: arial, sans-serif; font-size: 12pt;">You have accepted responsibility for drafting an answer to PQ <strong><%= @template_params[:uin] %></strong></p>

<div style="font-family: arial, sans-serif; font-size: 12pt; padding-left:0.5em;margin-left:10px;border-left:4px solid grey;margin-top:5px;margin-right:5px;margin-bottom:5px;">
  <%= @template_params[:question] %>
</div>

<div>
  <p>
  <% if !@template_params[:member_name].nil? %>
    <div style="font-family: arial, sans-serif; font-size: 12pt;">Question asked by <%= @template_params[:member_name] %> <% if !@template_params[:house_name].nil? %> (<%= @template_params[:house_name] %>) <% end %></div>
  <% end %>
  <% if !@template_params[:mpname].nil? %>
    <div style="font-family: arial, sans-serif; font-size: 12pt;">To be answered by <%= @template_params[:mpname] %></div>
  <% end %>
  <% if !@template_params[:date_to_parliament].empty? %>
    <div style="font-family: arial, sans-serif; font-size: 12pt;">Due back to Parliament by <%= @template_params[:date_to_parliament] %></div>
  <% end %>
  <% if !@template_params[:internal_deadline].nil? %>
    <p style="font-family: arial, sans-serif; font-size: 12pt; font-weight: bold;">Deadline to return your draft response is <strong><%= @template_params[:internal_deadline] %></strong></p>
  <% end %>
  </p>
</div>
<div style="padding-left:0.5em;margin-left:10px;border-left:4px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;">

  <p style="font-family: arial, sans-serif; font-size: 12pt;">You <span style="font-weight: bold;text-decoration: underline">MUST</span> use <%= mail_to Settings.mail_reply_to, 'this link', cc: @template_params[:cc_list], subject: "#{@template_params[:uin]} | Draft Response" %> to send your draft response back to the PQ team.  All relevant people will be cc’d in automatically. Feel free to add to this list if needed.
  </p>

</div>
<p style="font-family: arial, sans-serif; font-size: 12pt;">
    You will need to liaise with <%= raw("#{ mail_to(@template_params[:finance_users_emails], 'finance')} and") if !@template_params[:finance_users_emails].empty? %> your relevant <%= mail_to  @template_params[:press_email], 'press officer' %> before you send your draft response.  For drafting templates and guidance on how to respond, refer to the intranet <a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-parliament/parliamentary-questions/index.htm">PQ guidance</a>
</p>

<p style="font-family: arial, sans-serif; font-size: 12pt;">If you have further queries about drafting your response <a href="mailto:<%= Settings.mail_reply_to %>">contact the PQ team</a></p>


<%= render 'shared/mailer/email_signature' %>

<%= "stuff" %>

</body>
</html>