<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style type="text/css">
      body {
        font-family: arial, sans-serif;
        font-size: 12pt;
      }
      .pq-details {
        padding-left: 0.5em;
        border-left: 4px solid gray;
        margin: 5px 5px 5px 10px;
      }
    </style>
  </head>
  <body style="font-family: arial, sans-serif; font-size: 12pt;">
  <p><%= @template_params[:ao_name] %></p>
  <p><strong>Please note: answers must now include the constituency and party of the MP who asked the question next to their name.</strong></p>
  <p>Thank you for agreeing to draft an answer to PQ <strong><%= @template_params[:uin] %></strong>:</p>

  <%= @template_params[:question] %>

  <p>Asked by <%= @template_params[:member_name] %><% if @template_params[:house_name].present? %> (<%= @template_params[:house_name] %>)<% end %></p>

  <% if @template_params[:member_constituency].present? %>
      <p>Constituency: <%= @template_params[:member_constituency] %></p>
  <% end %>

  <% if @template_params[:answer_by].present? %>
      <p>To be answered by: <%= @template_params[:answer_by].to_s %></p>
  <% end %>

  <% if @template_params[:internal_deadline].present? %>
      <p>Internal deadline is <strong><%= @template_params[:internal_deadline] %></strong></p>
  <% end %>

  <% if @template_params[:date_to_parliament].present? %>
      <p>Due back to Parliament: <%= @template_params[:date_to_parliament] %></p>
  <% end %>

  <div class="what-to-do" style="font-family: arial, sans-serif; font-size: 12pt;">
    <p><strong>What to do next</strong></p>
    <p>You must use the <a href="http://intranet.justice.gsi.gov.uk/global/forms/downloads/ministers-parliament/template-written-pqs.doc">PQ template</a> for your answer.  Any member of your team may draft it, but you must ensure the template is complete, approved, and sent to the PQ Team by the internal deadline. For help, please check the <a href="http://intranet.justice.gsi.gov.uk/ministers-parliament/working-with-parliament/downloads/parliament-questions-guidance-faqs.pdf">PQ guidance</a>.</p>
    <p><strong>Use <%= mail_to Settings.mail_reply_to, 'this link', cc: @template_params[:cc_list], subject: "#{@template_params[:uin]} | Draft Response" %> to send your draft response back to the PQ team.</strong> This ensures that all relevant people are included automatically. You can add extra recipients if needed, including those on the template's Deputy Director checklist.</p>
    <p>If you have any queries about drafting your response <a href="mailto:<%= Settings.mail_reply_to %>">contact us</a>.</p>
  </div>
    <%= render 'shared/mailer/email_signature' %>
  </body>
</html>
