<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body {
        font-family: arial, sans-serif;
        font-size: 12pt;
      }
      .pq-details {
        padding-left: 0.5em;
        border-left: 4px solid gray;
        margin: 5px 5px 5px 10px;
      }
    </style>
  </head>
  <body>
    <p><%= @template_params[:ao_name] %>, you have been allocated PQ <strong><%= @template_params[:uin] %></strong>:</p>

    <div class="pq-details">
      <%= @template_params[:question] %>

      <p>Asked by <%= @template_params[:member_name] %><% if @template_params[:house_name].present? %> (<%= @template_params[:house_name] %>)<% end %></p>

      <% if @template_params[:member_constituency].present? %>
      <p>Constituency: <%= @template_params[:member_constituency] %></p>
      <% end %>

      <% if @template_params[:answer_by].present? %>
      <p>To be answered by: <%= @template_params[:answer_by].to_s %></p>
      <% end %>

      <% if @template_params[:internal_deadline].present? %>
      <p>Internal deadline: <%= @template_params[:internal_deadline] %></p>
      <% end %>

      <% if @template_params[:date_to_parliament].present? %>
      <p>Due back to Parliament: <%= @template_params[:date_to_parliament] %></p>
      <% end %>
    </div>

    <p><strong>You need to <%= link_to "accept or reject this question", controller: "assignment", action: "show", uin: @template_params[:uin], token: @template_params[:token], entity: @template_params[:entity], :host => root_url %> before 2pm today</strong>.</p>

    <p>The content is best viewed in <strong>Firefox</strong> browser</p>

    <p>If you accept the question, we will send you a further email with all the relevant guidance to draft your answer.</p>

    <p>If you have any queries about responding to this PQ, <a href="mailto:<%= Settings.mail_reply_to %>">contact the PQ Team</a>.</p>

    <p><small>For technical issues, e.g. broken links, <a href="mailto:pqsupport@digital.justice.gov.uk">contact PQ technical support</a>.</small></p>

    <p><small>This is a new service - your <a href="mailto:pqfeedback@digital.justice.gov.uk?Subject=PQ%20Email%20Feedback">feedback</a> will help us improve it.</small></p>

    <%= render 'shared/mailer/email_signature' %>
  </body>
</html>
