<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      body {
        font-family: arial, sans-serif;
        font-size: 11pt;
      }
      .pq-details {
          padding-left: 0.5em;
          border-left: 4px solid gray;
          margin: 5px 5px 5px 10px;
      }
      .what-to-do{
          font-family: arial, sans-serif;
          font-size: 12pt;
      }
    </style>
  </head>
  <body style="font-family: arial, sans-serif; font-size: 12pt;">
    <p><%= @template_params[:ao_name] %></p>
    <p>Parliamentary Branch believes your team is responsible for answering PQ <strong><%= @template_params[:uin] %></strong>:</p>

    <%= @template_params[:question] %>

    <p>Asked by <%= @template_params[:member_name] %><% if @template_params[:house_name].present? %> (<%= @template_params[:house_name] %>)<% end %></p>

    <% if @template_params[:member_constituency].present? %>
      <p>Constituency: <%= @template_params[:member_constituency] %></p>
    <% end %>

    <% if @template_params[:answer_by].present? %>
      <p>To be answered by: <%= @template_params[:answer_by].to_s %></p>
    <% end %>

    <% if @template_params[:internal_deadline].present? %>
      <p>Internal deadline: <%= @template_params[:internal_deadline] %></p>
    <% end %>

    <% if @template_params[:date_to_parliament].present? %>
      <p>Due back to Parliament: <%= @template_params[:date_to_parliament] %></p>
    <% end %>

    <div class="what-to-do" style="font-family: arial, sans-serif; font-size: 12pt;">
      <p><strong>What to do next</strong></p>
      <p><strong>Please <%= link_to "accept or reject this question", controller: "assignment", action: "show", uin: @template_params[:uin], token: @template_params[:token], entity: @template_params[:entity], :host => root_url %> as soon as possible.</strong> This gives more time to reallocate the PQ if necessary.</p>
      <p>If you accept the question, we’ll email you the guidance to draft your answer.</p>
      <p>If you reject the question, please let us know why and suggest which team might answer it.</p>


      <p>If you have any queries about drafting your response <a href="mailto:<%= Settings.mail_reply_to %>">contact us</a>.</p>
    </div>
    <%= render 'shared/mailer/email_signature' %>
  </body>
</html>
