<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      body {
        font-family: arial, sans-serif;
        font-size: 12pt;
      }
      .pq-details {
        padding-left: 0.5em;
        border-left: 4px solid gray;
        margin: 5px 5px 5px 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <%= @template_params[:dd_name] %>,
    </div>
    <p>
      <%= @template_params[:ao_name] %> has been allocated the PQ <strong><%= @template_params[:uin] %></strong>
    </p>
    <div class="pq-details">
      <%= @template_params[:question] %>

      <% if @template_params[:member_name].present? %>
        <p>Asked by: <%= @template_params[:member_name] %> <% if @template_params[:house_name].present? %> (<%= @template_params[:house_name] %>) <% end %></p>
      <% end %>

      <% if @template_params[:member_constituency].present? %>
        <p>Constituency: <%= @template_params[:member_constituency] %></p>
      <% end %>

      <% if @template_params[:answer_by].present? %>
        <p>To be answered by: <%= @template_params[:answer_by].to_s %></p>
      <% end %>

      <% if @template_params[:internal_deadline].present? %>
        <p>Internal deadline: <%= @template_params[:internal_deadline].to_s %></p>
      <% end %>

      <% if @template_params[:date_to_parliament].present? %>
        <p>Due back to Parliament by: <%= @template_params[:date_to_parliament] %></p>
      <% end %>
    </div>
    <p>
      <strong><%= @template_params[:ao_name] %> must accept or reject this PQ before 2pm today.</strong>
    </p>
    <p>
      The draft response to the question is required <strong>before <%= @template_params[:internal_deadline] %> - 10am</strong>.
    </p>
    <p>
      If you have any queries about responding to this PQ, <a href="mailto:<%= Settings.mail_reply_to %>">contact the PQ Team</a>
    </p>
      <p><small>
        For any technical issues, e.g. broken links, <a href="mailto:pqsupport@digital.justice.gov.uk">contact PQ technical support</a>.
      </small></p>
    <p><small>
        This is a new service and your <a href="mailto:pqfeedback@digital.justice.gov.uk?Subject=PQ%20Email%20Feedback">feedback</a> will help us improve it.
    </p></small>
    <%= render 'shared/mailer/email_signature' %>
</body>
</html>
