<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2><%= @template_params[:dd_name] %>, </h2>
<p><%= @template_params[:ao_name] %> has been allocated the following Parliamentary Question:</p>
<div style="padding-left:0.5em;margin-left:10px;border-left:2px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;font-size: 110%;">
  <p>UIN: <%= @template_params[:uin]%></p>
  <%= @template_params[:question] %>
  <p>Asked by: <%= @template_params[:member_name] %></p>
</div>

<p>An Accept or Reject Response is expected from them by 2p.m. today.</p>
<p>The Draft response to the question is expected by <%= @template_params[:internal_deadline] %></p>
<p>If you have any questions, please <a href="mailto:MOJParliamentaryBranch@cabinet-office.gsi.gov.uk">Contact the PQ Team</a></p>


<%= render 'shared/mailer/email_signature' %>

</body>
</html>