<% if user_signed_in? %>

  <nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if current_user.is_pq_user? %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><%= link_to 'Admin', admin_path %></li>
          </ul>
          <%= form_tag(search_path, { :method => 'get', :class => 'navbar-form navbar-left', :role => 'search'}) do %>
            <div class="form-group">
              <%= text_field_tag :search, params[:search], { :id => 'search_field',  :class => 'form-control', :placeholder => 'Type a UIN' } %>
            </div>
            <%= submit_tag "Search", { :name => nil, :class => 'btn btn-default' } %>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign out', destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </nav>

<% end %>