<div>
  <% if !question.house_name.nil?  %>
      <span><%= question.house_name %>: <%= question.member_name %></span>
  <% end %>
</div>

<div>
  <% if !question.date_for_answer.nil?  %>
      Date For Answer: <%= question.date_for_answer.strftime('%d/%m/%Y')  %>
  <% end %>
</div>
<%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "internal-deadline-form#{question.id}", :class => 'internal-deadline-form', :data => {:pqid => "#{question.id}"}}, :url => {:controller => 'pqs', :action => "set_internal_deadline", :id => question.uin} do |f| %>
    <div>Internal deadline:</div>
    <div class='input-group date internal-dtp' id='datetimepicker-<%= question.id %>' data-date-format="DD/MM/YYYY HH:mm">
      <input class="form-control internal-deadline" id="pq_internal_deadline-<%= question.id %>" name="pq[internal_deadline]" type="text" value="<%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
    <%= f.submit 'Update', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-set-deadline-#{question.id}" %>
<% end %>
<!-- round robin placeholder -->
<div id='trim_area_<%= question.id %>'>
  <%= render partial: 'shared/trim_links', locals: {question: question} %>
</div>