<ul class="questions-list col-md-8">
  <% questions.each do |question| %>
      <li style="overflow:auto;">
        <div class="pq-header">
          <span class="uin"><%= question.uin %></span>
          <% if question.question_type == 'NamedDay' %>
              <span class="label label-primary" title="Named day">N</span>
          <% end %>
          <% if question.question_type == 'Ordinary' %>
              <span class="label label-info" title="Ordinary Written">O</span>
          <% end %>
          <% if question.transferred  %>
              <span class="label label-info" title="Transferred">Transferred</span>
          <% end %>


          <div style="float: right;">
            <%= link_to('PQ Details', { controller: 'pqs', action: 'show', id: question.uin} ) %>
          </div>
        </div>

        <div class="panel-indent">
          <%= question.question %>
        </div>

        <div>
          <% if !question.house_name.nil?  %>
              <span><%= question.house_name %>: <%= question.member_name %></span>
          <% end %>
        </div>

        <div>
          <% if !question.date_for_answer.nil?  %>
            Date For Answer: <%= question.date_for_answer.strftime('%d/%m/%Y')  %>
          <% end %>
        </div>
        <span class="deadline">
            <% if !question.internal_deadline.nil?  %>
                Internal Deadline:
                <%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>
            <% end %>
            <%= render partial: 'shared/deadline_time', locals: {internal_deadline: question.internal_deadline} %>
         </span>

        <% if !question.preview_url.nil? %>
            <div>
              <a href="<%= question.preview_url %>">Question in Q&A Tool</a>
            </div>
        <% end %>

        <% if !question.minister_id.nil? %>    
        <div>
          Replying minister: <%= question.minister.name unless question.minister_id.nil? %></span>
        </div>
        <% end %>
        <% if !question.policy_minister_id.nil? %>
        <div>
          <span>Policy minister: <%= question.policy_minister.name %></span>
        </div>
        <% end %>

        <div id="policy-minister-form">
          <span id="policy-minister-<%= question.id %>"></span>
          <%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "policy-minister-form#{question.id}", :class => 'policy-minister-form', :data => {:pqid => "#{question.id}" }}, :url => {:controller => 'pqs', :action => "assign_minister", :id => question.uin} do |f| %>
              <%= f.collection_select  :policy_minister_id, Minister.all, :id, :name, {:include_blank => true} ,{ :data => {:placeholder => "Select Policy Minister"}, :class => 'change-policy-minister single-select-dropdown'} %>
              <%= f.hidden_field(:pq_id , :value => question.id ) %>
              <%= f.submit 'Select Minister', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-policy-minister#{question.id}" %>

          <% end %>
        </div>

        <div id="answering-minister-form">
          <span id="answering-minister-<%= question.id %>"></span>
          <%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "answering-minister-form#{question.id}", :class => 'answering-minister-form', :data => {:pqid => "#{question.id}" }}, :url => {:controller => 'pqs', :action => "assign_answering_minister", :id => question.uin} do |f| %>
              <%= f.collection_select  :minister_id, Minister.all, :id, :name, {:include_blank => true} ,{ :data => {:placeholder => "Select Answering Minister"}, :class => 'change-policy-minister single-select-dropdown'} %>
              <%= f.hidden_field(:pq_id , :value => question.id ) %>
              <%= f.submit 'Select Minister', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-answering-minister#{question.id}" %>

          <% end %>
        </div>


        <div class="allocation-info">
          <% if question.seen_by_finance  %>
              <div id="comm-form-container">
                <label>Add action officer(s) for commissioning</label>
                <%= form_for [question, ActionOfficersPq.new], :remote => true, :authenticity_token => true, :html => { :id => "form-commission#{question.id}", :class => 'form-commission', :data => {:pqid => "#{question.id}" }}, :url => {:controller => 'commission', :action => "assign", :id => question.id } do |f| %>
                    <%= collection_select(:action_officers_pq, :action_officer_id, ActionOfficer.where(deleted: false).all, :id, :name_with_div, {}, {:multiple => true, :class => 'multi-select-action-officers', :id => "action_officers_pq_action_officer_id-#{question.id}" }) %>
                    <%= f.hidden_field(:pq_id , :value => question.id ) %>
                    </br><%= f.submit 'commission', :class => 'btn btn-success btn-sm' %>
                <% end %>
              </div>
          <% end %>
          <div id="question_allocation_<%= question.id %>">
            <%= render partial: 'shared/question_assigned', locals: {question: question} %>
          </div>
        </div>

        <div id='trim_area_<%= question.id %>'>
          <% question.trim_links.each do |trim| %>
          <!--   <div id='trim_links_<%= trim.id %>'><%= link_to("Open #{trim.display_name}", {controller: 'trim_links', action: 'show', id: trim.id}) %></div> -->
           <div id='trim_links_<%= trim.id %>'><%= link_to('Trim link', {controller: 'trim_links', action: 'show', id: trim.id}, {title: 'Open the trim link'}) %></div> 
          <% end %>
          <% if question.trim_links.count==0 %>
          <%= form_for TrimLink.new(:pq_id => question.id), :html=> {:multipart=>true, :class=>'pq-inline-form'} do |f| %>
            <label for="trim_link_file_data">Add link to trim</label>
            <%= f.file_field :file_data, :class=>'pq-inline-form' %>
            <%= f.hidden_field :pq_id %>
            <%= f.submit 'Add', :class=>'btn btn-success btn-sm' %>
        <% end %>
        <% end %>
        </div>
      </li>
  <% end %>

</ul>
