<ul class="questions-list col-md-8">
  <% questions.each do |question| %>
      <li style="overflow:auto;" id="pq-frame-<%= question.id %>">
        <div class="pq-header">
          <span class="uin"><%= question.uin %></span>
          <% if question.question_type == 'NamedDay' %>
              <span class="label label-primary" title="Named day">N</span>
          <% end %>
          <% if question.question_type == 'Ordinary' %>
              <span class="label label-info" title="Ordinary Written">O</span>
          <% end %>
          <% if question.transferred  %>
              <span class="label label-warning" title="Transferred">Transferred</span>
          <% end %>

          <div style="float: right;">
            <%= link_to('PQ Details', { controller: 'pqs', action: 'show', id: question.uin} ) %>
          </div>
        </div>

        <div class="panel-indent">
          <%= question.question %>
        </div>

        <div>
          <% if !question.house_name.nil?  %>
              <span><%= question.house_name %>: <%= question.member_name %></span>
          <% end %>
        </div>

        <div>
          <% if !question.date_for_answer.nil?  %>
            Date For Answer: <%= question.date_for_answer.strftime('%d/%m/%Y')  %>
          <% end %>
        </div>
        <%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "internal-deadline-form#{question.id}", :class => 'internal-deadline-form', :data => {:pqid => "#{question.id}"}}, :url => {:controller => 'pqs', :action => "set_internal_deadline", :id => question.uin} do |f| %>
            <div>Internal deadline:</div>
            <div class='input-group date internal-dtp' id='datetimepicker-<%= question.id %>' data-date-format="DD/MM/YYYY HH:mm">
              <input class="form-control internal-deadline" id="pq_internal_deadline-<%= question.id %>" name="pq[internal_deadline]" type="text" value="<%= question.internal_deadline.strftime('%d/%m/%Y %H:%M') unless question.internal_deadline.nil? %>">
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
            </div>
            <%= f.submit 'Update', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-set-deadline-#{question.id}" %>
        <% end %>


        <% if !question.preview_url.nil? %>
            <div>
              <a href="<%= question.preview_url %>">Question in Q&A Tool</a>
            </div>
        <% end %>
        <% if question.action_officers_pq.size > 0 %>
            <% if !question.minister_id.nil? %>
            <div>
              Replying minister:
              <div><%= mail_to question.minister.email, question.minister.name unless question.minister_id.nil? %></div>
            </div>
            <% end %>
            <% if !question.policy_minister_id.nil? %>
            <div>
              Policy minister:
              <div><%= mail_to question.policy_minister.email, question.policy_minister.name %></div>
            </div>
            <% end %>
            <div>
              Action Officer(s) assigned
              <% question.action_officers_pq.each do |ao_pq|   %>
                <div><%= mail_to ao_pq.action_officer.email, ao_pq.action_officer.name %>
                  <%= render partial: 'shared/ao_reminder_link', locals: {ao_pq: ao_pq, question: question} %>
                </div>
              <% end %>

            </div>
            <div id="comm-data-<%= question.id %>">
                <div id="comm-header-<%= question.id %>" class="comm-header" data-pqid="<%= question.id %>"><span id="comm-caret-<%= question.id %>" class="fa fa-caret-right fa-lg"></span><label class="label label-sm label-success">PQ Commissioned</label></div>
                <div id="comm-details-<%= question.id %>" class="start-hidden">
                  <div><%= question.action_officers_pq.first.created_at.strftime("at %I:%M%p") %></div>
                  <div><%= question.action_officers_pq.first.created_at.strftime("%m/%d/%Y") %></div>
                </div>
            </div>
            <div id='trim_area_<%= question.id %>'>
              <%= render partial: 'shared/trim_links', locals: {question: question} %>
            </div>
        <% else %> <!-- action officer = 0 -->
        <div id="policy-minister-form-<%= question.id %>" class="minister-dropdown">
          <span id="policy-minister-<%= question.id %>"></span>
          <%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "policy-minister-form#{question.id}", :class => 'policy-minister-form', :data => {:pqid => "#{question.id}", :current=>"#{question.policy_minister_id}"}}, :url => {:controller => 'pqs', :action => "assign_minister", :id => question.uin} do |f| %>
              <%= f.collection_select  :policy_minister_id, Minister.all, :id, :name, {:include_blank => true} ,{ :data => {:placeholder => "Select Policy Minister"}, :class => 'change-policy-minister single-select-dropdown', :id=>"policy_minister_id-#{question.id}"} %>
              <%= f.hidden_field(:pq_id , :value => question.id , :id=>"pq_id-polmin-#{question.id}") %>
              <%= f.submit 'Select Minister', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-policy-minister#{question.id}" %>

          <% end %>
        </div>
        <div id="answering-minister-form-<%= question.id %>" class="minister-dropdown">
          <span id="answering-minister-<%= question.id %>"></span>
          <%= form_for question, :remote => true, :authenticity_token => true, :html => { :id => "answering-minister-form#{question.id}", :class => 'answering-minister-form', :data => {:pqid => "#{question.id}", :current=>"#{question.minister_id}"}}, :url => {:controller => 'pqs', :action => "assign_answering_minister", :id => question.uin} do |f| %>
              <%= f.collection_select  :minister_id, Minister.all, :id, :name, {:include_blank => true} ,{ :data => {:placeholder => "Select Answering Minister"}, :class => 'change-policy-minister single-select-dropdown', :id=>"answering_minister_id-#{question.id}"} %>
              <%= f.hidden_field(:pq_id , :value => question.id , :id=>"pq_id-ansmin-#{question.id}") %>
              <%= f.submit 'Select Minister', :class => 'btn btn-success btn-xs start-hidden',  :id => "btn-answering-minister#{question.id}" %>

          <% end %>
        </div>

        <div class="allocation-info">
          <% if question.seen_by_finance  %>
              <div id="comm-form-container-<%= question.id%>">
                <label>Add action officer(s) for commissioning</label>
                <%= form_for [question, ActionOfficersPq.new], :remote => true, :authenticity_token => true, :html => { :id => "form-commission#{question.id}", :class => 'form-commission', :data => {:pqid => "#{question.id}" }}, :url => {:controller => 'commission', :action => "assign", :id => question.id } do |f| %>
                    <%= collection_select(:action_officers_pq, :action_officer_id, ActionOfficer.where(deleted: false).all, :id, :name_with_div, {}, {:multiple => true, :class => 'multi-select-action-officers', :id => "action_officers_pq_action_officer_id-#{question.id}" }) %>
                    <%= f.hidden_field(:pq_id , :value => question.id, :id=>"pq_id-actoff-#{question.id}") %>
                    <br/><%= f.submit 'commission', :class => 'btn btn-success btn-sm' %>
                <% end %>
              </div>
          <% end %>
          <div id="question_allocation_<%= question.id %>">
            <%= render partial: 'shared/question_assigned', locals: {question: question} %>
          </div>
        </div>
            <div id='trim_area_<%= question.id %>'>
              <%= render partial: 'shared/trim_links', locals: {question: question} %>
            </div>
      </li>
    <% end %>
  <% end %>
</ul>
