<% question.action_officers_pq.rejected.each do |r|  %>
  <% if !r.action_officer.nil? %>
    <div class="row">
      <div id="pq-reject-reasons-<%= r.id %>" class="info-notice col-md-12">
        <p id="pq-reject-reasons-header-<%= r.id %>"  class="text">
          <%= link_to r.action_officer.name, action_officer_path(r.action_officer) %> rejected at: <%= r.updated_at.strftime('%I:%M%p | %m/%d/%Y') %><br />
          <%= r.reason_option %> : <%= r.reason %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>