<% question.action_officers_pq.rejected.each do |r|  %>
    <% if !r.action_officer.nil? %>
        <div class="row">
            <div id="pq-reject-reasons-<%= question.id %>" class="col-md-12">
                <p id="pq-reject-reasons-header-<%= question.id %>">
                    <%= mail_to r.action_officer.email, r.action_officer.name, subject: "Rejection of #{question.uin}" %>
                    <span class="label flag-pq-rejected">Rejected</span>
                    <%= r.updated_at.strftime('%I:%M%p  |  %m/%d/%Y') %>
                </p>
                <p class="panel panel-danger"><%= r.reason %></p>
            </div>
        </div>
    <% end %>
<% end %>