<%= render partial: "shared/flash_messages", flash: flash %>

<% question.trim_links.each do |trim| %>
    <div id='trim_links_<%= trim.id %>' class='dashboard_trim_link'><%= link_to('Trim link', {controller: 'trim_links', action: 'show', id: trim.id}, {title: 'Open the trim link'}) %></div>
<% end %>

<% if question.trim_links.count==0 %>
    <div id="trim-links-header-<%= question.id %>" class="btn btn-default trim-links-header">
        Add TRIM file 
        <div id="trim-links-form-<%= question.id %>" class="trim-links-form">
            <div class='btn btn-default trim-links-cancel'>
                Cancel TRIM file
            </div>
            <%= form_for TrimLink.new(:pq_id => question.id), :remote => true, :authenticity_token => true, :html=> {:multipart=>true, :id=>"new_trim_link_form_#{question.id}" ,:class=>'pq-inline-form, form-add-trim-link', :data => {:pqid => "#{question.id}" }} do |f| %>
                <span class="file-choose-replace">Choose file</span>
                <%= f.file_field :file_data, :class=>'pq-inline-form file-chooser', :id=>"file_data-#{question.id}" %>
                <%= f.hidden_field(:pq_id , :value => question.id , :id=>"pq_id-trimlink-#{question.id}") %>
                <%= f.submit 'Add', :class=>'btn btn-success btn-sm', :style=>'display:none;' %>
            <% end %>
        </div>
    </div>
<% end %>