<%= render partial: "shared/flash_messages", flash: flash %>

<% question.trim_links.each do |trim| %>
  <div id='trim_links_<%= trim.id %>' class='dashboard_trim_link'>
    <%= link_to('Open trim link', {
      controller: 'trim_links',
      action: 'show',
      id: trim.id},
      {title: 'Open the trim link'}) %>
  </div>
<% end %>

<% if question.trim_links.empty? %>
  <div id="trim-links-form-<%= question.id %>" class="trim-links-form">

    <button class="button button-choose">Choose Trim file</button>
    <span class="tr5-filename"><i class="fa fa-check-circle"></i> File selected</span>

    <div class="inline tr5-actions toggle-content" style="overflow:hidden;">
      <%= form_for TrimLink.new(:pq_id => question.id),
        :remote => true,
        :authenticity_token => true,
        :html=> {
          :multipart => true,
          :id => "new_trim_link_form_#{question.id}" ,
          :class => 'pq-inline-form, form-add-trim-link',
          :data => {:pqid => "#{question.id}" }
        } do |f| %>

          <%= f.file_field :file_data, :class=>'pq-inline-form trim-file-chooser', :id=>"file_data-#{question.id}" %>
          <%= f.hidden_field(:pq_id , :value => question.id , :id=>"pq_id-trimlink-#{question.id}") %>
          <%= f.submit 'Upload', :class=>'button button-upload' %>
          <button class='button button-cancel button-secondary'>Cancel</button>
      <% end %>
    </div>

  </div>
<% end %>
