<div id="admin-po-form">
  <%= form_for(@press_officer) do |f| %>
    <% if @press_officer.errors.any? %>
      <div class="info-notice">
        <h3><%= pluralize(@press_officer.errors.count, "error") %> prohibited this press_officer from being saved:</h3>
        <ul>
          <% @press_officer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {class: 'form-control'} %>
      <%= f.label :email %>
      <%= f.text_field :email, {class: 'form-control'} %>
      <%= f.label :press_desk_id %>
      <%= f.collection_select(:press_desk_id, @press_offices, :id, :name, :include_blank => "Please select") %>
      <p>
        Status:
        <label><%= f.check_box :deleted %>&nbsp;Inactive</label>
      </p>
      <%= f.submit 'Save', {class: 'button'} %>
    </div>
  <% end %>
</div>
