<h2>Press officer details</h2>
<div id="admin-po-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
	<p class="text"><%= @press_officer.name %></p>
	<h4>Email</h4>
	<p class="text"><%= @press_officer.email %></p>
	<h4>Status</h4>
	<% if @press_officer.deleted %>
		<p class="text"><i class="fa fa-times"></i>&nbsp;Inactive</p>
	<% else %>
		<p class="text"><i class="fa fa-check-circle"></i>&nbsp;Active</p>
	<% end %>
	<%= link_to 'Edit', edit_press_officer_path(@press_officer), {class: 'admin-link'} %>
	<%= link_to 'Return to press officer list', press_officers_path, {class: 'admin-link'} %>
</div>
