<h2>Watchlist member details</h2>
<div id="admin-wl-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
	<p class="text"><%= @watchlist_member.name %></p>
	<h4>Email</h4>
	<p class="text"><%= @watchlist_member.email %></p>
	<h4>Status</h4>
	<% if @watchlist_member.deleted %>
		<p class="text"><i class="fa fa-times"></i>&nbsp;Inactive</p>
	<% else %>
   		<p class="text"><i class="fa fa-check-circle"></i>&nbsp;Active</p>
	<% end %>
	<%= link_to 'Edit', edit_watchlist_member_path(@watchlist_member), {class: 'admin-link'} %>
	<%= link_to 'Return to watchlist member list', watchlist_members_path, {class: 'admin-link'} %>
</div>
