<div id="admin-ogd-form">
  <%= form_for(@ogd) do |f| %>
    <% if @ogd.errors.any? %>
      <div class="info-notice">
        <h3><%= pluralize(@ogd.errors.count, "error") %> prohibited this ogd from being saved:</h3>
        <ul>
          <% @ogd.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {class: 'form-control'} %>
      <%= f.label :acronym %>
      <%= f.text_field :acronym, {class: 'form-control'} %>
      <p>
        Status:
        <label><%= f.check_box :deleted %>&nbsp;Inactive</label>
      </p>
      <%= f.submit 'Save' , {class: 'button'} %>
    </div>
  <% end %>
</div>