<h2>Government department details</h2>
<div id="admin-ogd-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
	<%= @ogd.name %>
	<h4>Acronym</h4>
	<%= @ogd.acronym %>
	<h4>Status</h4>
	<% if @ogd.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
		<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
	<%= link_to 'Edit', edit_ogd_path(@ogd), {class: 'admin-link'} %>
	<%= link_to 'Return to other government department list', ogds_path, {class: 'admin-link'} %>
</div>