<%= form_for(@trim_link, :html=> {:multipart=>true}) do |f| %>
  <% if @trim_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trim_link.errors.count, "error") %> prohibited this trim_link from being saved:</h2>

      <ul>
      <% @trim_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_data %><br>
    <%= f.file_field :file_data %>
  </div>
  <%= f.hidden_field :pq_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
