<h1>Listing trim_links</h1>

<table class="table">
  <thead>
    <tr>
      <th>Filename</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trim_links.each do |trim_link| %>
      <tr>
        <td><%= trim_link.display_name %></td>
        <td><%= link_to 'Show', trim_link %></td>
        <td><%= link_to 'Edit', edit_trim_link_path(trim_link) %></td>
        <td><%= link_to 'Destroy', trim_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trim link', new_trim_link_path %>
