<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @trim_link.filename %>
</p>


<p>
  <strong>Size:</strong>
  <%= @trim_link.size %>
</p>

<%= link_to 'Edit', edit_trim_link_path(@trim_link) %> |
<%= link_to 'Back', trim_links_path %>
