<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h2 style="font-family: arial, sans-serif; font-size: 14pt; font-weight: bold;"><%= @template_params[:name] %>, you have missed the 2pm deadline</h2>

<p style="font-family: arial, sans-serif; font-size: 12pt;">Please immediately accept or reject the Parliamentary Question <%= @template_params[:uin] %> </p>
<div style="font-family: arial, sans-serif; font-size: 12pt; padding-left:0.5em;margin-left:10px;border-left:2px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;">
  <%= @template_params[:question] %>
</div>

<p style="font-family: arial, sans-serif; font-size: 12pt;">Asked by: <%= @template_params[:member_name] %> (<%= @template_params[:house] %>)</p>

<h2 style="font-family: arial, sans-serif; font-size: 12pt;">The link to accept or reject will be in a previous email. Please search your email inbox for <%= @template_params[:uin] %></h2>

<p style="font-family: arial, sans-serif; font-size: 12pt;">If you have any questions, please <a href="mailto:pqs@justice.gsi.gov.uk">Contact the PQ Team</a></p>

<%= render 'shared/mailer/email_signature' %>

</body>
</html>