<%= form_for(@minister) do |f| %>
  <% if @minister.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@minister.errors.count, "error") %> prohibited this minister from being saved:</h2>

      <ul>
      <% @minister.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <!-- Disabled search controller (to search minister by Parliamentary API)-->
    <!-- link_to 'Search', {controller: 'members', action:'by_name', remote: true }, {id: 'search_member'} -->
  </div>


  <div id="members_result">

  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
    <%= f.fields_for :minister_contacts do |ff| %>
        <hr>
        <div class="field">
          <%= ff.label :name, 'Contact Description' %>
          <%= ff.text_field :name %>
        </div>
        <div class="field">
          <%= ff.label :email %>
          <%= ff.text_field :email %>
        </div>
        <div class="field">
          <%= ff.label :phone %>
          <%= ff.text_field :phone %>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <%= ff.check_box :deleted  %> Inactive
            </label>
          </div>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
