<div id="admin-minister-form">
  <%= form_for(@minister) do |f| %>
    <% if @minister.errors.any? %>
      <div class="info-notice">
        <h3><%= pluralize(@minister.errors.count, "error") %> prohibited this Minister from being saved:</h3>
        <ul>
          <% @minister.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {class: 'form-control'} %>
      <%= f.label :title %>
      <%= f.text_field :title, {class: 'form-control'} %>
      <%= f.fields_for :minister_contacts do |ff| %>
        <%= ff.label :name, 'Contact Description' %>
        <%= ff.text_field :name, {class: 'form-control'} %>
        <%= ff.label :email %>
        <%= ff.text_field :email, {class: 'form-control'} %>
        <%= ff.label :phone %>
        <%= ff.text_field :phone, {class: 'form-control'} %>
        <p>
          Contact status:
          <label><%= ff.check_box :deleted %>&nbsp;Inactive</label>
        </p>
      <% end %>
      <p>
        Minister status:
        <label><%= f.check_box :deleted %>&nbsp;Inactive</label>
      </p>
      <%= f.submit 'Save' , {class: 'button'} %>
      </div>
  <% end %>
</div>
