<h2>Minister details</h2>
<div id="admin-ministers-details">
  <p id="notice"><%= notice %></p>
  <h4>Name</h4>
  <%= @minister.name %>
  <h4>Title</h4>
  <%= @minister.title %>
  <h4>Status</h4>
  <% if @minister.deleted %>
    <i class="fa fa-times"></i>&nbsp;Deleted
  <% else %>
    <i class="fa fa-check-circle"></i>&nbsp;Active
  <% end %>
  <h3>Contacts</h3>
  <div class="row>">
    <div class="col-md-2.5 pull-right">
      <%= link_to raw('Add new contact'), new_minister_contact_withid_path(@minister), {class: 'btn btn-secondary'} %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>email</th>
        <th>phone</th>
      </tr>
    </thead>
    <tbody>
      <% @minister.minister_contacts.where(deleted: false).each do |c| %>
        <tr>
          <td><%= c.name %></td>
          <td><%= c.email %></td>
          <td><%= c.phone %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Return to minister list', ministers_path, {class: 'admin-link'} %>
</div>
