<label for="answer_submitted">Date answer submitted</label>
<span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
  <input id="answer_submitted" class="form-control" name="pq[answer_submitted]" type="text" value="<%= @pq.answer_submitted.strftime('%d/%m/%Y %H:%M') unless @pq.answer_submitted.nil? %>">
  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
</span>

<% if !@pq.answer_submitted.nil? && !@pq.date_for_answer.nil? %>
  <% if @pq.answer_submitted < @pq.date_for_answer %>
    <p><i class="fa fa-check-circle" style="color: #5cb85c"></i>  Answer submitted on time</p>
  <% elsif @pq.answer_submitted > @pq.date_for_answer %>
    <p><i class="fa fa-thumbs-o-down"></i> Answer NOT submitted on time</p>
  <% end %>
<% end %>

<label for="pq_library_deposit" class="block-label">
  <%= f.check_box(:library_deposit) %>
  Library deposit
</label>

<label for="pq_withdrawn">Date PQ withdrawn</label>
<span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
  <input id="pq_withdrawn" class="form-control" name="pq[pq_withdrawn]" type="text" value="<%= @pq.pq_withdrawn.strftime('%d/%m/%Y %H:%M') unless @pq.pq_withdrawn.nil? %>">
  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
</span>

<label for="pq_holding_reply_flag" class="block-label">
  <%= f.check_box(:holding_reply_flag) %>
  Holding reply flag
</label>

<% if @pq.i_will_write %>
  <%= link_to ("Create 'I will write' follow up"), {controller: 'i_will_write', action: 'create', id: @pq.uin}, {id: 'create_iww', class: 'button', title: 'Send a reminder email to do the draft'} %>
<% end %>

<label>Final response information released</label>
<%= f.select(:final_response_info_released, 
  [
  ["Please select",""],
  ["Commercial in confidence","Commercial in confidence"],
  ["Disproportionate cost","Disproportionate cost"],
  ["Full disclosure","Full disclosure"],
  ["Holding reply [named day PQ only]","Holding reply [named day PQ only]"],
  ["I will write","I will write"],
  ["Information not held centrally","Information not held centrally"],
  ["Information not recorded","Information not recorded"],
  ["Partial disclosure","Partial disclosure"],
  ["Partial Disproportionate cost","Partial Disproportionate cost"],
  ["Referral","Referral"]
  ]
) %>


