<div class="form-group">
  <label for="answer_submitted" class="form-label">Date answer submitted</label>
  <span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
    <input id="answer_submitted" class="form-control" name="pq[answer_submitted]" type="text" value="<%= @pq.answer_submitted.strftime('%d/%m/%Y %H:%M') unless @pq.answer_submitted.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </span>
</div>

<% @answer_target = DateTime.parse(@pq.date_for_answer.to_s).change({ hour: 18, min: 0, sec: 0 })  %>

<% if !@pq.answer_submitted.nil? && !@pq.date_for_answer.nil? %>
  <% if @pq.answer_submitted <= @answer_target  %>
    <p class="text"><i class="fa fa-check-circle"></i>  Answer submitted on time</p>
  <% elsif @pq.answer_submitted > @answer_target  %>
    <p class="text"><i class="fa fa-thumbs-o-down"></i> Answer NOT submitted on time</p>
  <% end %>
<% end %>
<div class="form-group">
  <label for="pq_library_deposit" class="block-label">
    <%= f.check_box(:library_deposit, include_hidden: false) %>
    Library deposit
  </label>
</div>
<div class="form-group">
  <label for="pq_withdrawn" class="form-label">Date PQ withdrawn</label>
  <span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
    <input id="pq_withdrawn" class="form-control" name="pq[pq_withdrawn]" type="text" value="<%= @pq.pq_withdrawn.strftime('%d/%m/%Y %H:%M') unless @pq.pq_withdrawn.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </span>
</div>
<div class="form-group">
  <label for="pq_holding_reply_flag" class="block-label">
    <%= f.check_box(:holding_reply_flag, include_hidden: false) %>
    Holding reply flag
  </label>
</div>
<% if @pq.i_will_write %>
  <%= link_to ("Create 'I will write' follow up"), {controller: 'i_will_write', action: 'create', id: @pq.uin}, {id: 'create_iww', class: 'button', title: 'Send a reminder email to do the draft'} %>
<% end %>
<div class="form-group">
  <label for="pq_final_response_info_released" class="form-label">Final response information released</label>
  <%= f.select(:final_response_info_released, 
    [
    ["Please select",""],
    ["Commercial in confidence","Commercial in confidence"],
    ["Disproportionate cost","Disproportionate cost"],
    ["Full disclosure","Full disclosure"],
    ["Holding reply [named day PQ only]","Holding reply [named day PQ only]"],
    ["I will write","I will write"],
    ["Information not held centrally","Information not held centrally"],
    ["Information not recorded","Information not recorded"],
    ["Partial disclosure","Partial disclosure"],
    ["Partial Disproportionate cost","Partial Disproportionate cost"],
    ["Referral","Referral"]
    ]
  ) %>
</div>
