    <div class="deadline_input form-group">
  <label for="pq_internal_deadline" class="form-label">
    Internal deadline<%= render partial: 'shared/deadline_time', locals: {internal_deadline: @pq.internal_deadline, progress_val: @pq.progress, draft_reply: @pq.draft_answer_received } %>
  </label>
  <span class='input-group date internal-deadline-picker' id='datetimepicker1' data-date-format="DD/MM/YYYY HH:mm">
    <input id="pq_internal_deadline" class="form-control" name="pq[internal_deadline]" type="text" value="<%= @pq.internal_deadline.strftime('%d/%m/%Y %H:%M') unless @pq.internal_deadline.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </span>
</div>
<hr/>
<div class="question-allocation">
  <% if @pq.action_officers.size > 0 %>
    <% @pq.action_officers_pq.order(updated_at: :desc).each do |ao_pq| %>
      <% if ao_pq.accept %>
        <h4>Name of Action Officer</h4>
        <%= link_to ao_pq.action_officer.name, action_officer_path(ao_pq.action_officer) %>
        <% reminder_draft_count =  ao_pq.reminder_draft > 0 ? " (#{ao_pq.reminder_draft})" : '' %>&nbsp;
        <%= link_to raw("<i class=\"glyphicon glyphicon-envelope\"></i> Draft reminder#{reminder_draft_count}"), {controller: 'action_officer_reminder', action: 'send_draft', id: ao_pq.id, remote: true}, {class: 'ao-reminder-link', title: 'Send a reminder email to do the draft'} %>
        <p class="text">
          <%= link_to ('Manually reject this action officer'), {controller: 'manual_reject_commission', action: 'reject_manual', id: ao_pq.id}, {class: 'button-secondary', title: 'Reject the question manually'} %>
        </p>
        <h4>Email of Action Officer</h4>
        <p class="text"><%= mail_to ao_pq.action_officer.email %></p>
        <h4>Phone of Action Officer</h4>
        <p class="text"><%= ao_pq.action_officer.phone %></p>
        <h4>Division of Action Officer</h4>
        <p class="text"><%= ao_pq.action_officer.deputy_director.division.name %></p>
        <h4>Directorate of Action Officer</h4>
        <p class="text"><%= ao_pq.action_officer.deputy_director.division.directorate.name %></p>
        <h4>Deputy director</h4>
        <p class="text"><%= ao_pq.action_officer.deputy_director.name %></p>
        <h4>Press Desk</h4>
        <%= ao_pq.action_officer.press_desk.name %><br>
        <% ao_pq.action_officer.press_desk.press_officers.each do |po| %>
          <%= link_to po.name, press_officer_path(po) %><br />
        <% end %>
      <% end %>
      <% if !ao_pq.accept && !ao_pq.reject %>
        <p class="text">
          <%= link_to ao_pq.action_officer.name, action_officer_path(ao_pq.action_officer) %>
          <% reminder_accept_count =  ao_pq.reminder_accept > 0 ? " (#{ao_pq.reminder_accept})" : '' %>&nbsp;
          <%= link_to raw("<i class=\"glyphicon glyphicon-envelope\"></i> Send reminder#{reminder_accept_count}"), {controller: 'action_officer_reminder', action: 'accept_reject', id: ao_pq.id, remote: true}, {class: 'ao-reminder-link', title: 'Send an accept/reject reminder email'} %>
        </p>
        <%= link_to ('Manually reject this action officer'), {controller: 'manual_reject_commission', action: 'reject_manual', id: ao_pq.id}, {class: 'button-secondary', title: 'Reject the question manually'} %>
      <% end %>
    <% end %>
  <% else %>
    <p class="text">Not allocated</p>
  <% end %>
  <%= render partial:'shared/rejected_reasons', locals: {question: @pq} %>
</div>
<hr/>
<%= render partial: 'shared/minister_selection', locals: {question: @pq, form: f} %>

<hr/>
<div class="form-group">
  <label for="pq_transfer_out_ogd_id" class="form-label">Transfer out to</label>
  <%= f.collection_select(:transfer_out_ogd_id, @ogd_list, :id, :name, :include_blank => "Select department") %>
</div>
<div class="form-group">
  <label for="transfer_out_date" class="form-label">Date transferred out</label>
  <span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
    <input id="transfer_out_date" class="form-control" name="pq[transfer_out_date]" type="text" value="<%= @pq.transfer_out_date.strftime('%d/%m/%Y %H:%M') unless @pq.transfer_out_date.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </span>
</div>
