<%= render partial:'shared/rejected_reasons', locals: {question: @pq} %>

<div class="deadline_input">
  <label for="pq_internal_deadline">
    <%= render partial: 'shared/deadline_time', locals: {internal_deadline: @pq.internal_deadline} %>
    Internal deadline
  </label>
  <div class='input-group date datetimepicker' id='datetimepicker1' data-date-format="DD/MM/YYYY HH:mm">
    <input id="pq_internal_deadline" class="form-control" name="pq[internal_deadline]" type="text" value="<%= @pq.internal_deadline.strftime('%d/%m/%Y %H:%M') unless @pq.internal_deadline.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </div>
</div>

<hr/>

<div class="question-allocation">
  <% if @pq.action_officers.size > 0 %>
      <% @pq.action_officers_pq.each do |ao_pq| %>
          <% if ao_pq.accept %>
              <h5>Name of Action Officer</h5>
              <p><%= ao_pq.action_officer.name %> <%= link_to 'Edit Action Officer', edit_action_officer_path(ao_pq.action_officer), {class: 'btn'} %></p>

              <h5>Email of Action Officer</h5>
              <p><%= mail_to ao_pq.action_officer.email %></p>

              <h5>Phone of Action Officer</h5>
              <p><%= ao_pq.action_officer.phone %></p>

              <h5>Division of Action Officer</h5>
              <p><%= ao_pq.action_officer.deputy_director.division.name %></p>

              <h5>Directorate of Action Officer</h5>
              <p><%= ao_pq.action_officer.deputy_director.division.directorate.name %></p>

              <h5>Deputy director</h5>
              <p><%= ao_pq.action_officer.deputy_director.name %></p>

              <h5>Press Desk</h5>
              <p><%= ao_pq.action_officer.press_desk.name %></p>
              <% ao_pq.action_officer.press_desk.press_officers.each do |po| %>
                  <p><%= mail_to po.name, po.email %></p>
              <% end %>

              <p>
                <%= link_to raw('<i class="glyphicon glyphicon-envelope"></i> Re-send acceptance email'), {controller: 'action_officer_reminder', action: 'send_draft', id: ao_pq.id, remote: true}, {class: 'ao-reminder-link', title: 'Send a reminder email to do the draft'} %>
              </p>

              <p>
                <%= link_to raw('Manual reject the question'), {controller: 'manual_reject_commission', action: 'reject_manual', id: ao_pq.id}, {class: 'btn btn-no-response manual-reject-link', title: 'Reject the question manually'} %>
              </p>

          <% end %>

          <% if !ao_pq.accept && !ao_pq.reject %>
              <div>
                <p>
                  <%= mail_to ao_pq.action_officer.email, ao_pq.action_officer.name %>
                  <%= link_to raw('<i class="glyphicon glyphicon-envelope"></i> Send reminder'), {controller: 'action_officer_reminder', action: 'accept_reject', id: ao_pq.id, remote: true}, {class: 'ao-reminder-link', title: 'Send a accept/reject reminder email'} %>
                </p>
                <p>
                  <%= link_to raw('Manual reject the question'), {controller: 'manual_reject_commission', action: 'reject_manual', id: ao_pq.id}, {class: 'btn btn-no-response manual-reject-link', title: 'Reject the question manually'} %>
                </p>
              </div>
          <% end %>
      <% end %>
  <% else %>
  <p>Not allocated</p>
  <% end %>
</div>

<hr/>

<p>
  <label>Replying minister</label>
  <%= f.collection_select(:minister_id, @minister_list, :id, :name, :include_blank => "Please select") %>
</p>

<p>
  <label>Optional policy minister</label>
  <%= f.collection_select(:policy_minister_id, @minister_list, :id, :name, :include_blank => "Only select if needed") %>
</p>


<hr/>

<div>
  <label>Transfer out to</label>
  <%= f.collection_select(:transfer_out_ogd_id, @ogd_list, :id, :name, :include_blank => "Select department") %>
  <label for ="transfer_out_date">Date transferred out</label>
  <div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
    <input id="transfer_out_date" class="form-control" name="pq[transfer_out_date]" type="text" value="<%= @pq.transfer_out_date.strftime('%d/%m/%Y %H:%M') unless @pq.transfer_out_date.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </div>

</div>

<hr/>