<% if @pq.action_officers.size > 0 %>
  <% @pq.action_officers_pq.each do |ao_pq| %>
    <% if ao_pq.accept %>
      <h4>Date PQ accepted by action officer</h4>
      <p class="text"><%= ao_pq.updated_at.strftime('%d/%m/%Y %H:%M') unless ao_pq.updated_at.nil? %></p>
    <% else %>
      <p class="text"><% ao_pq.action_officer_id %><p>
    <% end %>
  <% end %>
<% end %>
<div class="form-group">
  <label for="draft_answer_received" class="form-label">Date PQ returned by action officer</label>
  <span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
    <input id="draft_answer_received" class="form-control" name="pq[draft_answer_received]" type="text" value="<%= @pq.draft_answer_received.strftime('%d/%m/%Y %H:%M') unless @pq.draft_answer_received.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </span>
</div>
<div class="form-group">
  <label for="pq_i_will_write" class="block-label">
    <%= f.check_box(:i_will_write) %>
    I will write
  </label>
</div>
<div class="form-group">
  <label for="pq_pq_correction_received" class="block-label">
    <%= f.check_box(:pq_correction_received) %>
    PQ correction received
  </label>
</div>
<div class="form-group">
  <label for="correction_circulated" class="form-label">Date correction circulated to action officer</label>
  <span class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
    <input id="correction_circulated" class="form-control" name="pq[correction_circulated_to_action_officer]" type="text" value="<%= @pq.correction_circulated_to_action_officer.strftime('%d/%m/%Y %H:%M') unless @pq.correction_circulated_to_action_officer.nil? %>">
    <span class="input-group-addon glyphicon glyphicon-calendar"></span>
  </span>
</div>
