<h4>UIN</h4>
<p class="text"><%= @pq.uin %></p>
<h4>House</h4>
<p class="text"><%= @pq.house_name %></p>
<div class="form-group">
    <label for="date_for_answer" class="form-label">Date for answer back to Parliament</label>
	<span class="input-group date dateonlypicker" data-date-format="DD/MM/YYYY">
		<input id="date_for_answer" class="form-control" name="pq[date_for_answer]" type="text" value="<%= @pq.date_for_answer.strftime('%d/%m/%Y') unless @pq.date_for_answer.nil? %>">
		<span class="input-group-addon glyphicon glyphicon-calendar"></span>
	</span>
</div>
<h4>Tabling member</h4>
<p class="text"><%= @pq.member_name %></p>
<h4>Question type</h4>
<p class="text"><%= @pq.question_type %></p>
<h4>Question tabled date</h4>
<p class="text"><%= @pq.tabled_date.strftime('%d/%m/%Y') unless @pq.tabled_date.nil? %></p>
<% if @pq.registered_interest %>
    <p class="text">
    	* Member has registered an interest in the Question.
    </p>
<% end %>
<% if @pq.transfer_in_ogd_id %>
    <p class="text">
    	Transferred in from <%= @pq.transfer_in_ogd.name %><%= ' on ' + @pq.transfer_in_date.strftime('%d/%m/%Y')  unless @pq.transfer_in_date.nil? %>
    </p>
<% end %>
<hr />
<h4>Question</h4>
<p class="text"><%= @pq.question %></p>
<hr />

<%= f.check_box_gds(:round_robin) %>

<div class="form-group">
	<label for="round_robin_guidance_received" class="form-label">Date guidance received</label>
	<div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
		<input id="round_robin_guidance_received" class="form-control" name="pq[round_robin_guidance_received]" type="text" value="<%= @pq.round_robin_guidance_received.strftime('%d/%m/%Y %H:%M') unless @pq.round_robin_guidance_received.nil? %>">
  		<span class="input-group-addon glyphicon glyphicon-calendar"></span>
	</div>
</div>
<div class="form-group">
	<label for="round_robin_date" class="form-label">Date round robin guidance sent to action officer</label>
	<div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
  		<input id="round_robin_date" class="form-control" name="pq[round_robin_date]" type="text" value="<%= @pq.round_robin_date.strftime('%d/%m/%Y %H:%M') unless @pq.round_robin_date.nil? %>">
  		<span class="input-group-addon glyphicon glyphicon-calendar"></span>
	</div>
</div>
