<div id="pq-details-header" class="row">
  <div id="pq-details-ref" class="col-md-9">
    <h2><%= @pq.uin %></h2>
    <% if @pq.question_type == 'NamedDay' %>
      <span class="label name-day" title="Named day">N</span>
    <% end %>
    <% if @pq.transferred %>
      <span class="label flag-transferred-in" title="Transferred">T</span>
    <% end %>
    <% if @pq.i_will_write %>
      <span class="label flag-will-write" title="I will write">IWW</span>
    <% end %>
    <span id="pq-details-progress" class="label flag-<%= @pq.progress.classname %>"><%= @pq.progress.name %></span>
  </div>
  <div id='trim_area_<%= @pq.id %>' class="col-md-3 trim_area trim_area_header">
    <%= render partial: 'shared/trim_links', locals: {question: @pq} %>
  </div>
</div>
<div id="pq-details-qa-link" class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3 pull-right">
    <% if !@pq.preview_url.nil? %>
      <a href="<%= @pq.preview_url %>" rel="external">View PQ in Q&amp;A Tool</a>
    <% end %>
  </div>
</div>
<br />
