<% if @pq.action_officers.size > 0 %>
  <% @pq.action_officers_pq.each do |ao_pq| %>
    <% if ao_pq.accept %>
      <label>Date PQ Accepted By Action Officer</label>
      <p><%= ao_pq.updated_at.strftime('%d/%m/%Y %H:%M') unless ao_pq.updated_at.nil? %></p>
    <% else %>
      <% ao_pq.action_officer_id %>
    <% end %>
  <% end %>
<% end %>

<label for="draft_answer_received">Date PQ Returned by Action Officer</label>
<div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
  <input id="draft_answer_received" class="form-control" name="pq[draft_answer_received]" type="text" value="<%= @pq.draft_answer_received.strftime('%d/%m/%Y %H:%M') unless @pq.draft_answer_received.nil? %>">
  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
</div>

<div class="checkbox">
  <%= f.label(:i_will_write) %>
  <%= f.check_box(:i_will_write) %>
</div>

<div class="checkbox">
  PQ Correction received
  <%= f.check_box(:pq_correction_received) %>
</div>

<label for="correction_circulated">Date correction circulated to Action Officer</label>
<div class="input-group date datetimepicker" data-date-format="DD/MM/YYYY HH:mm">
  <input id="correction_circulated" class="form-control" name="pq[correction_circulated_to_action_officer]" type="text" value="<%= @pq.correction_circulated_to_action_officer.strftime('%d/%m/%Y %H:%M') unless @pq.correction_circulated_to_action_officer.nil? %>">
  <span class="input-group-addon glyphicon glyphicon-calendar"></span>
</div>
