<p><%= render partial: 'shared/deadline_time', locals: {internal_deadline: @pq.internal_deadline} %></p>

<h4>Tabling Member:</h4>
<p><%= @pq.member_name %></p>

<h4>Constituency:</h4>
<p><%= @pq.member_constituency %></p>

<h4>House:</h4>
<p><%= @pq.house_name %></p>

<h4>Replying minister:</h4>
<p><%= @pq.minister.name unless @pq.minister_id.nil? %></p>
<% if !@pq.policy_minister_id.nil? %>
    <h4>Policy minister:</h4>
    <p><%= @pq.policy_minister.name %></p>
<% end %>

<h4>Date For Answer:</h4>
<p><%= @pq.date_for_answer.strftime('%d/%m/%Y') unless @pq.date_for_answer.nil? %></p>

<h4>Date Tabled:</h4>
<p><%= @pq.tabled_date.strftime('%d/%m/%Y') unless @pq.tabled_date.nil? %></p>

<h4>Question</h4>
<p><%= @pq.question %></p>

<% if @pq.registered_interest %>
    <p>Member has registered an interest in the Question.</p>
<% end %>

