<h2>PQ Details</h2>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/flash_messages", flash: flash %>
  </div>
</div>

<%= render 'pq_header' %>

<div id="pq-detail-area" class="row">
  <div id="progress-menu" class="col-md-3">
    <a id="progress-menu-pq" class="progress-menu-item">PQ</a>
    <a id="progress-menu-fc" class="progress-menu-item">Finance check</a>
    <a id="progress-menu-com" class="progress-menu-item">PQ commission</a>
    <a id="progress-menu-sub" class="progress-menu-item">PQ Draft</a>
    <a id="progress-menu-pod" class="progress-menu-item">POD check</a>
    <a id="progress-menu-min" class="progress-menu-item">Minister check</a>
    <a id="progress-menu-answer" class="progress-menu-item">Answer</a>
  </div>

  <div id="progress-panel" class="col-md-9">

    <%= form_for @pq, :url => { :action => "update", :id => @pq[:uin] }, :html=>{ :class=>'progress-menu-form start-hidden' } do |f| %>

      <div id="progress-menu-pq-data" class="progress-menu-data start-hidden">
        <%= render partial:'pq_data', locals: {f: f} %>
      </div>

      <div id="progress-menu-fc-data" class="progress-menu-data start-hidden">
        <%= render partial:'fc_data', locals: {f: f} %>
      </div>

      <div id="progress-menu-com-data" class="progress-menu-data start-hidden">
        <%= render  partial:'com_data', locals: {f: f} %>
      </div>

      <div id="progress-menu-sub-data" class="progress-menu-data start-hidden">
        <%= render  partial:'pq_draft', locals: {f: f} %>
      </div>

      <div id="progress-menu-pod-data" class="progress-menu-data start-hidden" >
        <%= render partial:'pod_check', locals: {f: f} %>
      </div>

      <div id="progress-menu-min-data" class="progress-menu-data start-hidden" >
        <%= render partial:'minister_check', locals: {f: f} %>
      </div>

      <div id="progress-menu-answer-data" class="progress-menu-data start-hidden">
        <%= render partial:'answer', locals: {f: f} %>
      </div>

      <p><%= f.submit 'Save', :class => 'btn btn-save' %></p>
    <% end %>
  </div>
</div>