<div class="row">
    <div class="col-md-12">
        <%= render partial: "shared/flash_messages", flash: flash %>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <% if @pq.errors.any? %>
            <div class="alert notice">
                <%= pluralize(@pq.errors.count, "error") %> prohibited this PQ from being saved:<br />
                <% @pq.errors.full_messages.each do |msg| %>
                    <%= msg %><br />
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'pq_header' %>

<div id="pq-detail-area" class="row">
  <div id="progress-menu" class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li><a id="progress-menu-pq" class="progress-menu-item">PQ Details</a></li>
        <li><a id="progress-menu-fc" class="progress-menu-item">Finance check</a></li>
        <li><a id="progress-menu-com" class="progress-menu-item">PQ commission</a></li>
        <li><a id="progress-menu-sub" class="progress-menu-item">PQ draft</a></li>
        <li><a id="progress-menu-pod" class="progress-menu-item">POD check</a></li>
        <li><a id="progress-menu-min" class="progress-menu-item">Minister check</a></li>
        <li><a id="progress-menu-answer" class="progress-menu-item">Answer</a></li>
    </ul>
  </div>

  <div id="progress-panel" class="col-md-9">
    <%= form_for @pq, :url => { :action => "update", :id => @pq[:uin] }, :html=>{ :class=>'progress-menu-form' } do |f| %>
      <fieldset>
        <div id="progress-menu-pq-data" class="progress-menu-data start-hidden">
          <%= render partial:'pq_data', locals: {f: f} %>
        </div>
        <div id="progress-menu-fc-data" class="progress-menu-data start-hidden">
          <%= render partial:'fc_data', locals: {f: f} %>
        </div>
        <div id="progress-menu-com-data" class="progress-menu-data start-hidden">
          <%= render  partial:'com_data', locals: {f: f} %>
        </div>
        <div id="progress-menu-sub-data" class="progress-menu-data start-hidden">
          <%= render  partial:'pq_draft', locals: {f: f} %>
        </div>
        <div id="progress-menu-pod-data" class="progress-menu-data start-hidden" >
          <%= render partial:'pod_check', locals: {f: f} %>
        </div>
        <div id="progress-menu-min-data" class="progress-menu-data start-hidden" >
          <%= render partial:'minister_check', locals: {f: f} %>
        </div>
        <div id="progress-menu-answer-data" class="progress-menu-data start-hidden">
          <%= render partial:'answer', locals: {f: f} %>
        </div>
        <div class="form-group">
            <%= f.submit 'Save', :id => 'save', :class => 'button' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
