<div id="admin-al-form">
    <%= form_for @actionlist_member do |f| %>
        <% if @actionlist_member.errors.any? %>
            <div class="alert notice">
                <%= pluralize(@actionlist_member.errors.count, "error") %> prohibited this Actionlist member from being saved:<br />
                <% @actionlist_member.errors.full_messages.each do |msg| %>
                    <%= msg %><br />
                <% end %>
            </div>
        <% end %>
        <fieldset>
            <div class="form-group">
                <label for="actionlist_member_name" class="form-label">Name</label>
                <%= f.text_field :name, {class: 'form-control'}%>
            </div>
            <div class="form-group">
                <label for="actionlist_member_email" class="form-label">Email</label>
                <%= f.text_field :email , {class: 'form-control'} %>
            </div>
            <div class="form-group">
                <p class="text">Status:</p>
                <label for="actionlist_member_deleted" class="block-label">
                    <%= f.check_box :deleted %>Inactive
                </label>
            </div>
            <div class="form-group">
                <%= f.submit 'Save', :id => 'save', :class => 'button' %>
            </div>
        </fieldset>
    <% end %>
</div>
