<div id="admin-al-form">
  <%= form_for @actionlist_member do |f| %>
    <% if @actionlist_member.errors.any? %>
      <div class="info-notice">
        <h3><%= pluralize(@actionlist_member.errors.count, "error") %> prohibited this Actionlist member from being saved:/h3>
        <ul>
          <% @actionlist_member.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, {class: 'form-control'}%>
      <%= f.label :email %>
      <%= f.text_field :email , {class: 'form-control'} %>
      <p>
        Status:
        <label><%= f.check_box :deleted %>&nbsp;Inactive</label>
      </p>
      <%= f.submit 'Save' , {class: 'button'} %>
    </div>
  <% end %>
</div>
