<h2>Actionlist member details</h2>
<div id="admin-al-details">
	<p id="notice"><%= notice %></p>
	<h4>Name</h4>
	<%= @actionlist_member.name %>
	<h4>Email</h4>
	<%= @actionlist_member.email %>
	<h4>Status</h4>
	<% if @actionlist_member.deleted %>
		<i class="fa fa-times"></i>&nbsp;Inactive
	<% else %>
		<i class="fa fa-check-circle"></i>&nbsp;Active
	<% end %>
	<%= link_to 'Edit', edit_actionlist_member_path(@actionlist_member), {class: 'admin-link'} %>
	<%= link_to 'Return to Actionlist members', actionlist_members_path, {class: 'admin-link'} %>
</div>
