<div>
<h2>Questions Allocated <%= Date.today.strftime('%d/%m/%Y') %></h2>
<h3 class="section">Allocated Today <span class="badge"><%= @questions.length %></span></h3>
<% @questions.each do |question| %>
    <h3><%= question.uin %></h3>
    <p class="text"><%= question.question %></p>
    <h4>Date For Answer</h4>
    <p class="text"><%= question.date_for_answer.strftime('%d/%m/%Y') unless question.date_for_answer.nil? %></p>
    <h4><%= question.house_name %></h4>
    <p class="text"><%= question.member_name %></p>
    <div class="allocation-info">
        <% if question.action_officers_pq.size > 0 %>
            <div class="question-allocation">
                <h4>Allocation</h4>
                <ul class="question-allocation-list" data-pqid="<%= question.id %>">
                    <% question.action_officers_pq.each do |ao_pq|   %>
                        <li>
                            <% if !ao_pq.action_officer.nil? %>
                                <% if ao_pq.accept %>
                                    <span class="no-indent"><%= ao_pq.action_officer.name  %>&nbsp;(<%= ao_pq.action_officer.deputy_director.division.name %>)
                                    <span class="label flag-accepted">Accepted</span></span>
                                <% elsif ao_pq.reject %>
                                    <details class="details-reveal">
                                        <summary aria-controls="rejection-<%= ao_pq.id %>-<%= ao_pq.action_officer.id %>">
                                            <span class="link closed">
                                                <%= ao_pq.action_officer.name  %>&nbsp;(<%= ao_pq.action_officer.deputy_director.division.name %>)
                                            </span>
                                            <span class="label flag-rejected">Rejected</span>
                                        </summary>
                                        <div id="rejection-<%= ao_pq.id %>-<%= ao_pq.action_officer.id %>" class="panel-indent reveal closed">
                                            <p class="strong"><%= ao_pq.reason_option %></p>
                                            <p><%= ao_pq.reason %></p>
                                        </div>
                                    </details>
                                <% else %>
                                    <span class="no-indent"><%= ao_pq.action_officer.name  %>&nbsp;(<%= ao_pq.action_officer.deputy_director.division.name %>)
                                    <span class="label flag-no-response">No response</span></span>
                                <% end %>
                            </li>    
                        <% end %>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <hr />
<% end %>
</div>