<h2>PQ filter</h2>
<%= render partial: 'shared/flash_messages' %>
<div id="report-filter" class="row">
  <div class="col-md-9">
    <% if @questions.nil? %>
      <h3>Please select a filter option</h3>
    <% else %>
      <h3><%= pluralize(@questions_count,'Question') %> found</h3>
      <ul class="questions-list">
        <% @questions.each do |question| %>
          <li id="pq-frame-<%= question.id %>">
            <%= render partial: 'dashboard/question_data', locals: {question: question} %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= form_tag({controller: 'reports', action: 'filter_all'}, {:method => :get}) do %>
      <fieldset>
        <div class="form-group">
          <label for="minister_id" class="form-label">Minister</label>
          <%= select_tag 'minister_id', content_tag(:option,'Select a minister',:value=>'') + options_from_collection_for_select(Minister.all_active, 'id', 'name', params[:minister_id] ) %>
        </div>
        <div class="form-group">
          <label for="press_desk_id" class="form-label">Press Desk</label>
          <%= select_tag 'press_desk_id', content_tag(:option,'Select a press desk',:value=>'') + options_from_collection_for_select(PressDesk.where(deleted: false), 'id', 'name', params[:press_desk_id] ) %>
        </div>
        <div class="form-group">
          <label for="progress_id" class="form-label">Status</label>
          <%= select_tag 'progress_id', content_tag(:option,'Select a progress',:value=>'') + options_from_collection_for_select(Progress.all, 'id', 'name', params[:progress_id] ) %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Report' , class: 'button'%>&nbsp;<%= link_to 'Reset', reports_filter_all_path, class: 'button-secondary' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<% if !@questions.nil? %>
<div id="pages" class="row">
  <%= will_paginate @questions, {class: 'col-md-9'} %>
</div>
<% end %>
