<h1>Ministers Filter</h1>

<%= render partial: 'shared/flash_messages' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ministers Filter</h3>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= form_tag controller: 'reports', action: 'ministers_filter' do %>

            <div class="form-group">
                <label for="minister_id">Minister</label>
                <%= select_tag 'minister_id', content_tag(:option,'Select a minister',:value=>'') + options_from_collection_for_select(Minister.all_active, 'id', 'name', params[:minister_id] ) %>
            </div>
            <div class="form-group">
              <%= submit_tag 'Report' , class: 'button'%>
            </div>
        <% end %>
      </div>
    </div>

    <ul id="status-filters" class="nav nav-pills">

      <% @progresses.each do |progress| %>
          <li class="<%= 'active' if (params[:progress_id] == progress[:id].to_s) %>">
            <%= link_to raw("#{progress[:name]}<span class='badge'>#{progress[:count]}</span>") , {:action => 'ministers_filter', minister_id: params[:minister_id], progress_id: progress[:id]} %>
          </li>
      <% end %>

    </ul>
  </div>
</div>




<% if !@questions_count.nil? %>
    <div class="row">
      <p><%= @questions_count %> Questions found</p>
    </div>
<% end %>


<% if !@questions.nil? %>

    <ul class="questions-list col-md-9">
      <% @questions.each do |question| %>
          <li id="pq-frame-<%= question.id %>" class="row">
            <%= render partial: 'dashboard/question_data', locals: {question: question} %>
          </li>
          <hr />
      <% end %>
      <div id='pages'>
        <%= will_paginate @questions %>
      </div>
    </ul>

<% end %>
