<%= render partial: 'shared/flash_messages' %>
<h2>New PQ's today <span class="badge"><%= @questions.count %></span></h2>
<hr />
<% if @questions.count == 0 %>
  <p>There are not more questions to review</p>
<% end %>
<% if @questions.count > 0 %>
  <%= form_tag :controller => 'finance', :action => 'confirm' do  %>
    <ul class="questions-list col-md-9">
      <% @questions.each do |question| %>
        <li>
          <div class="pq-header">
            <h3><%= question.uin %></h3>
            <% if question.question_type == 'NamedDay' %>
              <span class="label name-day" title="Named day">N</span>
            <% end %>
            <% if question.transferred  %>
              <span class="label flag-transferred-in" title="Transferred">T</span>
            <% end %>
          </div>
          <div class="pq-question">
            <%= question.question %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>
                <input name="pq[<%= question.id %>][finance_interest]" type="checkbox" value="true"/> Register interest
              </label>
            </div>
            <div class="col-md-6">
              <%= question.house_name %>: <%= question.member_name %><br/>
              Date for answer: <%= question.date_for_answer.strftime('%d/%m/%Y') unless question.date_for_answer.nil? %><br/>
              <input type="hidden" name="pq[<%= question.id %>][seen_by_finance]" value="true">
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <div id="confirmation_button_bar" class="col-md-9">
      <%= submit_tag 'Confirm Visibility of all PQs' , id: 'btn_finance_visibility' , class: 'button' %>
    </div>
  <% end %>
<% end %>
