<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:page_title) ? yield(:page_title) : "GOV.UK - The best place to find government services and information" %></title>

    <%= javascript_include_tag "jquery", "select2", "moment", defer: false %>

    <%= tag :meta, name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= tag :meta, property: 'og:image', content: asset_path('/assets/govuk-frontend/govuk/assets/images/govuk-opengraph-image.png') %>
    <%= tag :meta, name: 'theme-color', content: '#0b0c0c' %>
    <%= favicon_link_tag '/assets/images/favicon.ico', sizes: '48x48' %>
    <%= favicon_link_tag '/assets/images/favicon.svg', type: 'image/svg+xml', sizes: 'any' %>
    <%= favicon_link_tag '/assets/images/govuk-icon-mask.svg', rel: 'mask-icon', color: '#0b0c0c' %>
    <%= favicon_link_tag '/assets/images/govuk-icon-180.png', rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

    <%= stylesheet_link_tag "application", "font-awesome" %>

    <%= javascript_include_tag "application", defer: true %>

    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5RRTCM3');
    </script>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <noscript>
      iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RRTCM3" height="0" width="0" style="display:none;visibility:hidden"
    </noscript>

    <%= govuk_skip_link text: "Skip to main content" %>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked">Find out more about cookies</a></p>
    </div>

    <%= govuk_header(homepage_url: "/", service_name: "PQ Tracker") %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>
    </div>

    <%= govuk_footer(meta_items_title: "Support links", meta_items:  { "Accessibility" => "/accessibility", "Contact Parliamentary Branch" => "mailto:pqs@justice.gov.uk?Subject=PQ%20Tracker" }) %>

    <div id="global-app-error" class="app-error hidden"></div>

    <%= yield :body_end %>
  </body>
</html>
