<p style="font-family: arial, sans-serif; font-size: 12pt;"><%= @resource[:name] %>,</p>

<p style="font-family: arial, sans-serif; font-size: 12pt;"><%= I18n.t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url) %></p>

<p style="font-family: arial, sans-serif; font-size: 12pt;"><%= I18n.t("devise.mailer.invitation_instructions.setup").html_safe %></p>
<div style="padding-left:0.5em;margin-left:10px;border-left:4px solid black;margin-top:5px;margin-right:5px;margin-bottom:5px;">
    <p style="font-family: arial, sans-serif; font-size: 12pt;">To complete your account setup you need to <%= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

</div>
<p style="font-family: arial, sans-serif; font-size: 12pt;">It is recommended that you use Firefox web browser to access PQ Tracker. Using Internet Explorer may cause performance issues.</p>

<p style="font-family: arial, sans-serif; font-size: 12pt;"><%= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe %> <%= mail_to Settings.mail_reply_to, 'contact the PQ team' %></p>

<%= render 'shared/mailer/email_signature' %>
